<div class="comment_row">
  <img src="{{ c.user.url_avatar }}">
  <div class="comment_info">
    <div class="name_time">
      {{ c.user.name }}
      <span class="comment_time">{{ c.created_at }}</span>
    </div>
    <div class="arrow_box">
      <span class="comment_content">{{ c.content }}
        <span class="icon-trash icon action" ng-show="c.current_user">削除</span>
      </span>
    </div>
  </div>
</div>
