<div>
  <div id="thumb-{{ index }}" ng-repeat="file in files">
    <img src="{{ file.src}}" class="thumbnail" style="width: 200px;">
    <span ng-click="files.splice($index, 1)">[X]</span>
  </div>
  <input type="file" sl-file-upload ng-model="file.name">

  <table id="attached_thumbs" class="table table-bordered table-hover table-condensed">
    <tr>
      <th>登録済画像</th><th>削除</th>
    </tr>
    <tr ng-repeat="a in attachments" ng-show="attachments.length > 0">
      <td class="text-center"><img src="{{ a.url_image }}" class="thumbnail"></td>
      <td class="text-center"><label><input type="checkbox" name="del_img-{{ a.id }}" value="1"></label></td>
    </tr>
  </table>
</div>
