<div id="log-{{ log.id }}" class="log-info zbtn01">
  <div class="each_logs">
    <img src="{{ log.user.url_avatar }}" class="user_img" alt="{{ log.user.name }}のアバター">
    <div class="infos">
      <span class="user_name">{{ log.user.name }}</span>
      <div class="dropdown edit-eachlog" ng-show="log.user.current_user">
        <span class="icon-2x icon-angle-down dropdown-toggle" data-toggle="dropdown"></span>
        <div class="dropdown-menu">
          <p class="icon-edit icon">編集</p>
          <p class="delete icon-trash icon">削除</p>
        </div>
      </div>
      <div class="title">{{ log.machine ? log.machine.name : 'その他' }}</div>
      <div class="set">
        <div class="income-{{  (log.income >= 0) ? 'plus' : 'minus' }}">{{ log.income }}</div>
        <div class="spacer"></div>
        <div class="picture"><span class="icon-picture icon-2x"></span><span class="num">{{ log.attachments.length }}</span></div>
      </div>
      <div class="spacer"></div>
      <div class="comments log-sub-info-opener" ng-click="toggleComments(log.id)">
        <span class="icon-comments icon-2x"></span>
        <span id="comment-size-for-{{ log.id }}" class="num">{{ log.comments.length }}</span>
      </div>
    </div>

    <div class="log-sub-" id="info-for-{{ log.id }}" ng-show="show_comments[log.id]">
      <!-- コメント一覧 -->
      <div id="comments-for-{{ log.id }}">
        <div id="comment-{{ c.id }}" class="comment_row_wrap" ng-repeat="c in log.comments">
          <sl-comment></sl-comment>
        </div>
      </div>

      <div id="for_smoothscroll"></div>
      <div class="comment_row_wrap" ng-controller="commentsCtrl">
        <div ng-show="error[log.id]" ng-repeat="e in error[log.id]">
          <p>{{ e }}</p>
        </div>
        <div class="comment_row">
          <form ng-submit="newCommentForLogs(log.id, new_comment[log.id], $index)")>
            <textarea class="form-control" rows="2" placeholder="コメントを入力してください" ng-model="new_comment[log.id]" required></textarea>
            <input type="submit" value="コメントする" class="btns btn03 comment_btn">
          </form>
        </div>
      </div>

    </div><! -- log-sub- -->

    <div class="attachments" ng-if="log.attachments.length > 1">
      <div id="slides-{{ log.id }}" class="images-area">
        <img src="{{ a.url_image }}" ng-repeat="a in log.attachments">
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right"></i></a>
      </div>
      <!--script>
      $(function(){
      $("#slides-{{ log.id }}").slidesjs({
      navigationj false
      });
      });
      </script-->
    </div>
    <div class="attachments" ng-if="log.attachments.length = 1">
      <div id="slides-{{ log.id }}" class="image-area">
        <img src="{{ logs.attachments.first.url_url }}">
      </div>
    </div><!-- .attachments -->

    <button class="log-num-info-opener more_btn btns typcn typcn-eye" ng-click="toggleDetail(log.id)"> 詳しく見る</button>
    <!-- 「詳しく見る」クリックで「more-info」を開閉 -->
    <div class="more-info" ng-show="show_detail[log.id]">
      <div class="num-info">
        <dl>
          <dt>打始めゲーム数: </dt>
          <dd class="num">{{ log.start }}</dd>
        </dl>
        <dl>
          <dt>打終り: </dt>
          <dd class="num">{{ log.end }}</dd>
        </dl>
        <dl>
          <dt>初当ゲーム数: </dt>
          <dd class="num">{{ log.first_hit }}</dd>
        </dl>
        <dl>
          <dt>Bonus回数: </dt>
          <dd class="num">{{ log.bonus }}</dd>
        </dl>
        <dl>
          <dt>上乗せ: </dt>
          <dd class="num">{{ log.addition }}</dd>
        </dl>
        <dl>
          <dt>総ゲーム数: </dt>
          <dd class="num">{{ log.game }}</dd>
        </dl>
      </div>

      <a ng-click="$location.path(urlService.pathLogs(log.id));" class="icon-hand-right icon more_btn btns">過程をもっと見る</a>
    </div>
  </div>
</div>
