<tr id="log_detail-{{ l.id }}" ng-repeat-start="l in log.log_details">
  <div>
  <td class="number">
    {{ l.game }}<p ng-if="l.reset_game">リセット</p>
  </td>
  <td>{{ l.role ? l.role.name : '' }}</td>
  <td class="number" ng-if="l.log.machine.type_id != 1">{{ l.addition }}</td>
  <td class="number">{{ number_with_delimiter(l.income) }}</td>
</tr>

<tr class="memo-cell" ng-if="l.memo">
  <td colspan="{{ (l.log.machine.type_id != 1) ? 7 : 6 }}">
    <div class="memo_row">
      <a href="{{ user_path(l.log.user) }}" class="memo_user"><img src="{{ l.log.user.avatar_url }}"></a>
      <div class="memo_info">
        <div class="name_time">
          <a href="{{ urlService.pathUsers(l.log.user.id) }}">{{ l.log.user.name }}</a>
          <span class="memo_time">{{ l.created_at }}</span>
        </div>
        <div class="arrow_box">
          <span class="memo_content">{{ l.memo }}</span>
        </div>
      </div>
    </div>
  </td>
</tr>

<tr ng-repeat-end ng-if="l.attachments.length > 0">
  <td colspan="{{ (l.log.machine.type_id != 1) ? 7 : 6 }}">
    {{ l.attachments }}
    <div class="attachments">
      <div id="slides-{{ l.id }}" class="images-area" ng-show="l.attachments.length > 1">
        <img src="{{ a.image }}" ng-repeat="a in l.attachments">
        <a href="#" class="slidesjs-previous slidesjs-navigation"><i class="icon-chevron-left"></i></a>
        <a href="#" class="slidesjs-next slidesjs-navigation"><i class="icon-chevron-right"></i></a>
        <!-- script>
          $(function(){
            $("#slides-{{ l.log.id }}").slidesjs({
              navigation: false
            });
          });
        </script-->
      </div>
      <div id="slides-{{ l.id }}" class="image-area" ng-show="l.attachments.length == 1">
        <img src="{{ l.attachments }}">
      </div>
    </div><!-- .attachments -->
  </td>
</tr>
