<p>{{ ld.created_at }}</p><!-- 作成日 -->
<p>{{ ld.log.machine.name }}</p><!-- 機種名 -->
<p>{{ ld.game }}</p><!-- ゲーム数 -->
<p>{{ ld.role.name_omission }}</p><!-- 役名(省略) -->
<p>{{ ld.log.user.name }}</p><!-- ユーザ名 -->
<p>{{ ld.memo }}</p><!-- メモ -->
<p>{{ ld.comments.length }}</p><!-- コメント数 -->
<p>{{ ld.attachments.length }}</p><!-- 画像数 -->
<p>{{ ld.reset_game == true }}</p><!-- リセット有無 -->
