<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="sessionsCtrl">
<div class="header">
  <a ng-click="changePage('home', false)" ng-show="isBack">
    <i class="btn btn-default fa fa-chevron-circle-left"></i>
  </a>

  <!--p class="text-center" ng-show="!isBack">SloLab</p -->

  <a ng-click="$location.path(urlService.pathLogs() + 'new') ">
    <i class="btn btn-default fa fa-edit"></i>
  </a>
  <a href="urlService.pathLogDetails('/log_details/new')" ng-if="">
    <i class="btn btn-default fa fa-edit"></i>
  </a>
</div>
</nav>
