<nav class="navbar navbar-inverse navbar-fixed-bottom">

<div class="collapse navbar-collapse">
  <ul class="nav navbar-tabs nav-justified">
    <li class="button-tab" active="true">
    <a ng-click="$location.path(urlService.pathHome())" class="typcn typcn-home"></a>
    </li> 

    <li class="button-tab" active="true">
    <a ng-click="$location.path(wrlService.pathLogDetails('list_all'))" class="typcn typcn-world"></a>
    </li>

    <li class="button-tab" active="true">
    <a class="typcn typcn-chart-pie"></a>
    </li>

    <li class="button-tab" active="true">
    <a class="typcn typcn-user-add"></a>
    </li>
    <div ng-controller="sessionsCtrl">
      <li class="button-tab" active="true">
      <a class="typcn typcn-user-add" ng-click="logout()"></a>
      </li>
    </div>
  </ul>
</div>
</nav>
