@charset "UTF-8";
/* ----------------------------------------------------------
parts
---------------------------------------------------------- */
/* line 24, ../sass/custom.css.scss */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* line 28, ../sass/custom.css.scss */
.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

/* line 33, ../sass/custom.css.scss */
.alert-notice hr {
  border-top-color: #c9e2b3;
}

/* line 36, ../sass/custom.css.scss */
.alert-notice .alert-link {
  color: #356635;
}

/* line 39, ../sass/custom.css.scss */
.number {
  text-align: right;
}

/* line 42, ../sass/custom.css.scss */
body {
  font-family: 'Avenir LT Std','ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
  -webkit-text-size-adjust: 100%;
  background-color: #fff;
  color: #333;
  font-family: "Avenir LT Std", "$B%R%i%.%N3Q%4(B Pro W3", "Hiragino Kaku Gothic Pro", "$B%a%$%j%*(B", Meiryo, "$B#M#S(B $B#P%4%7%C%/(B", sans-serif !important;
  font-size: 16px;
  line-height: 1.8;
  padding-top: 70px;
  padding-bottom: 240px;
}

/* line 54, ../sass/custom.css.scss */
.footer {
  border-top: 1px solid #eee;
  margin-top: 20px;
  background-color: #fce59f;
}

/* line 60, ../sass/custom.css.scss */
.icon-question-sign {
  color: #307d0e;
  cursor: pointer;
  margin-top: 3px;
  margin-right: 1rem;
}

/* Main marketing message and sign up button */
/* line 67, ../sass/custom.css.scss */
.jumbotron {
  text-align: center;
  background-color: transparent;
}

/* line 71, ../sass/custom.css.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* line 76, ../sass/custom.css.scss */
.alert-shadow {
  box-shadow: 0px 0px 5px 3px red;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  /* line 87, ../sass/custom.css.scss */
  .masthead,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}
/* line 92, ../sass/custom.css.scss */
.hidden {
  display: none;
}

/* line 95, ../sass/custom.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* line 103, ../sass/custom.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 109, ../sass/custom.css.scss */
a {
  color: #000;
  cursor: pointer;
}
/* line 114, ../sass/custom.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 121, ../sass/custom.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 126, ../sass/custom.css.scss */
.nav a:hover {
  color: #eb8fa0;
}

/* line 129, ../sass/custom.css.scss */
.display-none {
  display: none;
}

/* line 133, ../sass/custom.css.scss */
#notice {
  color: green;
}

/* line 137, ../sass/custom.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 143, ../sass/custom.css.scss */
#error_explanation {
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
}
/* line 152, ../sass/custom.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 162, ../sass/custom.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}

/* line 167, ../sass/custom.css.scss */
.updated {
  animation: blinker 2s;
  -moz-animation: blinker 2s;
  -webkit-animation: blinker 2s;
}

@keyframes blinker {
  /* line 173, ../sass/custom.css.scss */
  0% {
    background-color: #fff;
  }

  /* line 174, ../sass/custom.css.scss */
  50% {
    background-color: #ffcd00;
  }

  /* line 175, ../sass/custom.css.scss */
  100% {
    background-color: #fff;
  }
}

@-moz-keyframes blinker {
  /* line 178, ../sass/custom.css.scss */
  0% {
    background-color: #fff;
  }

  /* line 179, ../sass/custom.css.scss */
  50% {
    background-color: #ffcd00;
  }

  /* line 180, ../sass/custom.css.scss */
  100% {
    background-color: #fff;
  }
}

@-webkit-keyframes blinker {
  /* line 183, ../sass/custom.css.scss */
  0% {
    background-color: #fff;
  }

  /* line 184, ../sass/custom.css.scss */
  50% {
    background-color: #ffcd00;
  }

  /* line 185, ../sass/custom.css.scss */
  100% {
    background-color: #fff;
  }
}

/* line 187, ../sass/custom.css.scss */
div.update-infos-table {
  max-height: 200px;
  overflow: auto;
}

/* line 191, ../sass/custom.css.scss */
table.table th {
  font-size: 11px;
}

/* line 194, ../sass/custom.css.scss */
th.num, td.num {
  text-align: right;
}

/* line 207, ../sass/custom.css.scss */
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

/* line 211, ../sass/custom.css.scss */
.form-signin input[type="text"],
.form-signin input[type="password"] {
  font-size: 16px;
  height: auto;
  margin-bottom: 15px;
  padding: 7px 9px;
}

/* line 218, ../sass/custom.css.scss */
.form-control {
  height: 35px;
}

/* line 221, ../sass/custom.css.scss */
.control-group {
  margin-bottom: 10px;
}

/* line 225, ../sass/custom.css.scss */
legend + .control-group {
  margin-top: 20px;
  -webkit-margin-top-collapse: separate;
}

/* line 230, ../sass/custom.css.scss */
.form-horizontal .control-group {
  margin-bottom: 20px;
  *zoom: 1;
}

/* line 236, ../sass/custom.css.scss */
.form-horizontal .control-group::before,
.form-horizontal .control-group::after {
  display: table;
  line-height: 0;
  content: "";
}

/* line 242, ../sass/custom.css.scss */
.form-horizontal .control-group:after {
  clear: both;
}

/* line 245, ../sass/custom.css.scss */
.form-horizontal .controls {
  *display: inline-block;
  *padding-left: 20px;
  margin-left: 180px;
  *margin-left: 0;
}

/* line 252, ../sass/custom.css.scss */
.form-horizontal .controls:first-child {
  *padding-left: 180px;
}

/* line 256, ../sass/custom.css.scss */
.form-horizontal .control-label {
  float: left;
  width: 160px;
  padding-top: 5px;
  text-align: right;
}

/* line 263, ../sass/custom.css.scss */
#thumb img, #thumbs img {
  height: 100px;
  width: auto;
}

/* line 268, ../sass/custom.css.scss */
.listing-settings-area {
  margin: 10px;
}

/* line 272, ../sass/custom.css.scss */
.thumbnail {
  display: inline-block;
}

/* line 276, ../sass/custom.css.scss */
.log-sub-info {
  display: none;
}

/* line 280, ../sass/custom.css.scss */
.log-sub-info-opener {
  cursor: pointer;
}

/* line 284, ../sass/custom.css.scss */
.arrow_box {
  position: relative;
  background: #ffffff;
  border: 1px solid #a8a8a8;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/* line 292, ../sass/custom.css.scss */
.arrow_box::after, .arrow_box::before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

/* line 302, ../sass/custom.css.scss */
.arrow_box::after {
  border-color: rgba(255, 255, 255, 0);
  border-right-color: #ffffff;
  border-width: 7px;
  top: 40%;
  margin-top: -7px;
}

/* line 309, ../sass/custom.css.scss */
.arrow_box::before {
  border-color: rgba(168, 168, 168, 0);
  border-right-color: #a8a8a8;
  border-width: 8px;
  top: 40%;
  margin-top: -8px;
}

/* line 317, ../sass/custom.css.scss */
.action {
  display: none;
}

/* line 321, ../sass/custom.css.scss */
.arrow_box:hover .action {
  display: inline-block;
  cursor: pointer;
}

/* line 326, ../sass/custom.css.scss */
.comment {
  padding: 5px;
}

/* line 330, ../sass/custom.css.scss */
.comment .action {
  float: right;
}

/* line 334, ../sass/custom.css.scss */
tr.tr-striped {
  background-color: #eee;
}

/* line 338, ../sass/custom.css.scss */
#modal-image {
  text-align: center;
}

/* line 341, ../sass/custom.css.scss */
#modal-image .modal-dialog {
  text-align: center;
  width: inherit;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
}

/* line 348, ../sass/custom.css.scss */
.image_for_modal {
  cursor: pointer;
}

/* line 351, ../sass/custom.css.scss */
#managing-roles {
  display: none;
}

/* line 354, ../sass/custom.css.scss */
#managing-triggers {
  display: none;
}

/* line 360, ../sass/custom.css.scss */
.sort_separater + .additional-interface {
  margin-top: -10px;
}

/* line 363, ../sass/custom.css.scss */
.additional-interface .btn {
  padding: 6px 8px;
}

/* line 367, ../sass/custom.css.scss */
.input-role {
  margin: 5px 0px 5px 3px;
}

/* 開始と終了のみ使用(利用頻度：低) */
/* line 371, ../sass/custom.css.scss */
.input-role-type-1, .input-role-type-2 {
  background-color: #b0c4dc;
}
/* line 7, ../sass/custom.css.scss */
.input-role-type-1:hover, .input-role-type-1:active, .input-role-type-1:focus, .input-role-type-2:hover, .input-role-type-2:active, .input-role-type-2:focus {
  background-color: #8daacc;
}

/* 出玉のチャンス(利用頻度：中、期待度：中) */
/* line 375, ../sass/custom.css.scss */
.input-role-type-3, .input-role-type-4, .input-role-type-5, .input-role-type-6, .input-role-type-7, .input-role-type-8, .input-role-type-9 {
  background-color: gold;
}
/* line 7, ../sass/custom.css.scss */
.input-role-type-3:hover, .input-role-type-3:active, .input-role-type-3:focus, .input-role-type-4:hover, .input-role-type-4:active, .input-role-type-4:focus, .input-role-type-5:hover, .input-role-type-5:active, .input-role-type-5:focus, .input-role-type-6:hover, .input-role-type-6:active, .input-role-type-6:focus, .input-role-type-7:hover, .input-role-type-7:active, .input-role-type-7:focus, .input-role-type-8:hover, .input-role-type-8:active, .input-role-type-8:focus, .input-role-type-9:hover, .input-role-type-9:active, .input-role-type-9:focus {
  background-color: #ccac00;
}

/* ボーナス(利用頻度：中、期待度：高) */
/* line 379, ../sass/custom.css.scss */
.input-role-type-10, .input-role-type-11 {
  background-color: orangered;
}
/* line 7, ../sass/custom.css.scss */
.input-role-type-10:hover, .input-role-type-10:active, .input-role-type-10:focus, .input-role-type-11:hover, .input-role-type-11:active, .input-role-type-11:focus {
  background-color: #cc3700;
}

/* 高確率(利用頻度：高、期待度：低) */
/* line 383, ../sass/custom.css.scss */
.input-role-type-12 {
  background-color: hotpink;
}
/* line 7, ../sass/custom.css.scss */
.input-role-type-12:hover, .input-role-type-12:active, .input-role-type-12:focus {
  background-color: #ff369b;
}

/* 上乗せ(利用頻度：高、期待度：中) */
/* line 387, ../sass/custom.css.scss */
.input-role-type-13, .input-role-type-14, .input-role-type-15 {
  background-color: red;
}
/* line 7, ../sass/custom.css.scss */
.input-role-type-13:hover, .input-role-type-13:active, .input-role-type-13:focus, .input-role-type-14:hover, .input-role-type-14:active, .input-role-type-14:focus, .input-role-type-15:hover, .input-role-type-15:active, .input-role-type-15:focus {
  background-color: #cc0000;
}

/* line 390, ../sass/custom.css.scss */
#form-addition {
  height: 0px;
  /*Transition*/
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  transition: All 0.5s ease;
}

/* line 399, ../sass/custom.css.scss */
label.btn-income {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-top: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  font-size: 15px;
}

/* custom.css */
/* line 410, ../sass/custom.css.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: "Avenir LT Std", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", sans-serif !important;
}

/* line 415, ../sass/custom.css.scss */
img {
  display: block;
}

/* line 418, ../sass/custom.css.scss */
p {
  line-height: 1.8;
}

/* line 421, ../sass/custom.css.scss */
p a {
  color: #0c81d3;
  text-decoration: underline;
}

/* line 425, ../sass/custom.css.scss */
p a:hover {
  color: #eb8fa0;
  text-decoration: none;
  background-color: inherit;
}

/* line 430, ../sass/custom.css.scss */
header {
  position: fixed;
  top: 0px;
  left: auto;
  width: 100%;
  z-index: 10;
}

/* line 437, ../sass/custom.css.scss */
.navbar-wrapper {
  zoom: 1;
}

/* line 440, ../sass/custom.css.scss */
.carousel {
  position: relative;
}

/* line 443, ../sass/custom.css.scss */
.navbar-inverse {
  background-color: #fce59f;
  color: #1b5904;
  font-weight: bold;
}

/* line 448, ../sass/custom.css.scss */
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

/* line 451, ../sass/custom.css.scss */
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-nav > li > a:hover {
  color: #073246;
}

/* line 454, ../sass/custom.css.scss */
.caret {
  color: #fff;
}

/* line 457, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav > .dropdown > a .caret {
  color: #fff;
  border-top-color: #fff;
  border-bottom-color: #fff;
}

/* line 462, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav > .dropdown:hover > a .caret {
  border-top-color: #073246;
  border-bottom-color: #073246;
}

/* line 466, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav > .active > a {
  background-color: #1257ad;
}

/* line 469, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: #1257ad;
}

/* line 473, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1257ad;
}

/* line 476, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav > .open > a .caret, .navbar-inverse .navbar-nav > .open:hover > a .caret {
  border-top-color: #fff;
  border-bottom-color: #fff;
}

/*.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #1257ad;
}
.navbar-inverse .navbar-nav > .open:hover > a .caret{
  color: #fff;
}
.dropdown-header {
  color: #fff;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
  color: #fff;
}*/
/* line 492, ../sass/custom.css.scss */
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a > img {
  width: 50px;
}

/* line 495, ../sass/custom.css.scss */
#main {
  clear: both;
}
@media (max-width: 991px) {
  /* line 495, ../sass/custom.css.scss */
  #main {
    padding-top: 87px;
  }
}
@media (min-width: 992px) {
  /* line 495, ../sass/custom.css.scss */
  #main {
    padding-top: 79px;
  }
}

/* line 504, ../sass/custom.css.scss */
#main.login {
  padding-top: 33px !important;
}

/* line 507, ../sass/custom.css.scss */
.head_item {
  margin-bottom: 15px;
  margin-top: -90px;
  background-color: #f1f2f1;
  background-image: url(/assets/common/pattern01.jpg);
  width: 100%;
  padding-top: 90px;
  max-height: 590px;
}

/* line 516, ../sass/custom.css.scss */
.head_item h1, .main_copy h1 {
  margin: 0;
}

/* line 519, ../sass/custom.css.scss */
img.top_item01 {
  min-width: 320px;
  min-height: 140px;
  max-width: 100%;
  max-height: 500px;
  margin: 0 auto 20px auto;
}

/* line 526, ../sass/custom.css.scss */
section.site_descr {
  margin-bottom: 40px;
  text-align: center;
}

/* line 530, ../sass/custom.css.scss */
section.site_descr_first h1, h1.catch02 {
  color: #22aac3;
  line-height: 1.5;
}

/* line 534, ../sass/custom.css.scss */
h1.site_descr_first {
  font-size: 30px;
}

/* line 537, ../sass/custom.css.scss */
.catch {
  color: #147f09;
}

/* line 540, ../sass/custom.css.scss */
img.site_descr01 {
  margin: 20px auto;
  max-width: 100%;
}

/* line 544, ../sass/custom.css.scss */
.first_catch {
  padding-top: 60px;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 0;
}

/* line 551, ../sass/custom.css.scss */
.container.main_copy {
  padding: 40px 40px 20px 40px;
  text-align: center;
  background-image: url(/assets/common/pattern01.jpg);
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-bottom: 40px;
}

/* line 560, ../sass/custom.css.scss */
.container.main_copy h1 {
  margin-bottom: 10px;
}

/* line 563, ../sass/custom.css.scss */
.main_copy strong {
  font-weight: normal;
}

/* line 566, ../sass/custom.css.scss */
img.main_copy01 {
  max-width: 100%;
  margin: 0px auto 20px auto;
}

/* line 570, ../sass/custom.css.scss */
h2.point {
  color: #00a0e9;
  font-size: 25px;
  font-weight: bold;
  line-height: 1.3;
}

/* line 576, ../sass/custom.css.scss */
strong.appeal01 {
  font-size: 22px;
  font-weight: bold;
}

/* line 580, ../sass/custom.css.scss */
.fc-sun {
  color: red;
}

/* line 583, ../sass/custom.css.scss */
.fc-sat {
  color: blue;
}

/* line 586, ../sass/custom.css.scss */
.fc-event-inner {
  text-align: right;
}

/* General button style (reset) */
/* line 590, ../sass/custom.css.scss */
.btn_custom {
  border: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background: none;
  cursor: pointer;
  /*padding: 25px 80px;*/
  padding: 0px;
  display: inline-block;
  margin: 5px 5px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  outline: none;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  max-width: 100%;
}

/* line 611, ../sass/custom.css.scss */
.btn_custom img {
  max-width: 100%;
}

/* line 615, ../sass/custom.css.scss */
.btn_custom:after {
  content: '';
  position: absolute;
  z-index: -1;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

/* Pseudo elements for icons */
/* line 625, ../sass/custom.css.scss */
.btn_custom::before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  position: relative;
  -webkit-font-smoothing: antialiased;
}

/* Button 2 */
/* line 637, ../sass/custom.css.scss */
.btn-2 {
  background: #f39800;
  color: #fff;
  box-shadow: 0 6px #e27307;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* Button 2c */
/* line 646, ../sass/custom.css.scss */
.btn-2c {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 652, ../sass/custom.css.scss */
.btn-2c:hover {
  background: #f39800;
  box-shadow: 0 4px #e27307;
  top: 2px;
}

/* line 658, ../sass/custom.css.scss */
.btn-2c:active {
  box-shadow: 0 0 #e27307;
  top: 6px;
}

/* Button 3 */
/* line 664, ../sass/custom.css.scss */
.btn-3 {
  background: #00a0e9;
  color: #fff;
  box-shadow: 0 6px #1b74e3;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* Button 3c */
/* line 673, ../sass/custom.css.scss */
.btn-3c {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}

/* line 679, ../sass/custom.css.scss */
.btn-3c:hover {
  background: #00a0e9;
  box-shadow: 0 4px #1b74e3;
  top: 2px;
}

/* line 685, ../sass/custom.css.scss */
.btn-3c:active {
  box-shadow: 0 0 #1b74e3;
  top: 6px;
}

/* Button 4 */
/* line 690, ../sass/custom.css.scss */
.btn-4 {
  background: #3b5998;
  color: #fff;
  box-shadow: 0 6px #6d84b4;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* Button 4c */
/* line 699, ../sass/custom.css.scss */
.btn-4c {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  box-sizing: border-box;
  max-width: 100%;
  z-index: -1;
}

/* line 708, ../sass/custom.css.scss */
.btn-4c:hover {
  background: #3b5998;
  box-shadow: 0 4px #6d84b4;
  top: 2px;
}

/* line 714, ../sass/custom.css.scss */
.btn-4c:active {
  box-shadow: 0 0 #6d84b4;
  top: 6px;
}

/* line 718, ../sass/custom.css.scss */
.btn-4c img {
  margin: 0 30px;
  max-width: 100%;
  box-sizing: border-box;
}

/* line 723, ../sass/custom.css.scss */
section.fbpage {
  margin-bottom: 0;
}

/* line 726, ../sass/custom.css.scss */
.fbpage_coin {
  margin-right: -50px;
  text-align: center;
  display: inline;
  margin-top: -30px;
}

/* line 732, ../sass/custom.css.scss */
a.fbp:hover .btn-4c {
  top: 2px;
  box-shadow: 0 4px #6d84b4;
}

@media (min-width: 768px) {
  /* line 738, ../sass/custom.css.scss */
  .pc {
    display: block;
  }

  /* line 741, ../sass/custom.css.scss */
  .sp {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 746, ../sass/custom.css.scss */
  img.top_item01 {
    min-width: 320px;
    min-height: 140px;
    max-width: 100%;
    max-height: 500px;
    margin: 20px auto 20px auto;
  }

  /* line 753, ../sass/custom.css.scss */
  .site_subtitle {
    display: none;
  }

  /* line 756, ../sass/custom.css.scss */
  .navbar-inverse .navbar-nav > .active > a {
    padding: 15px 10px;
  }

  /* line 759, ../sass/custom.css.scss */
  .navbar-inverse .navbar-nav > li > a {
    padding: 15px 10px;
  }
}
@media (max-width: 767px) {
  /* line 764, ../sass/custom.css.scss */
  .site_subtitle {
    display: none;
  }

  /* line 767, ../sass/custom.css.scss */
  .navbar-wrapper .container {
    padding-left: 0px;
    padding-right: 0px;
  }

  /* line 771, ../sass/custom.css.scss */
  .dropdown-header {
    color: #fff;
  }

  /* line 774, ../sass/custom.css.scss */
  .navbar-wrapper .container .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* line 778, ../sass/custom.css.scss */
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
  }

  /* line 781, ../sass/custom.css.scss */
  .navbar li {
    font-size: 11px;
  }

  /* line 784, ../sass/custom.css.scss */
  .navbar li a {
    font-size: 11px;
    padding-top: 6px;
    padding-bottom: 6px;
  }

  /* line 789, ../sass/custom.css.scss */
  .pc {
    display: none;
  }

  /* line 792, ../sass/custom.css.scss */
  .sp {
    display: block;
  }

  /* line 795, ../sass/custom.css.scss */
  .main_copy {
    margin-left: 15px;
    margin-right: 15px;
    padding: 30px;
    text-align: left;
  }

  /* line 801, ../sass/custom.css.scss */
  img.top_item01_sp01 {
    margin-top: 90px;
  }

  /* line 804, ../sass/custom.css.scss */
  header {
    top: 0px;
  }

  /* line 807, ../sass/custom.css.scss */
  .head_item {
    padding-top: 70px;
  }

  /* line 810, ../sass/custom.css.scss */
  .fbpage_coin {
    display: none;
  }

  /* line 813, ../sass/custom.css.scss */
  .btn-4c {
    max-width: 292px;
    padding: 0 10px;
  }

  /* line 817, ../sass/custom.css.scss */
  .btn-4c img {
    margin: 0;
    box-sizing: border-box;
  }

  /* line 821, ../sass/custom.css.scss */
  section.fbpage {
    margin-bottom: 20px;
  }
}
/* RSSの部分 */
/* line 828, ../sass/custom.css.scss */
.infos_sort {
  background-color: #faca66 !important;
}

/* テーブルヘッダ */
/* line 833, ../sass/custom.css.scss */
thead.table_header th {
  background-color: #faca66;
}

/*　グローバルメニュー　*/
/* line 838, ../sass/custom.css.scss */
#fat-menu a.dropdown-toggle {
  padding: 0;
  overflow: hidden;
  zoom: 1;
}

/* line 843, ../sass/custom.css.scss */
#fat-menu img.avatar {
  float: left;
  width: 40px;
  height: 40px;
  margin: 5px;
}

/* line 849, ../sass/custom.css.scss */
.menu_sort {
  display: block;
  float: left;
  padding: 15px 0 15px 5px;
}

/* line 854, ../sass/custom.css.scss */
#fat-menu .caret {
  margin-top: 25px;
  margin-right: 15px;
}

/* line 859, ../sass/custom.css.scss */
.site_subtitle {
  font-size: 12px;
}

/* line 866, ../sass/custom.css.scss */
.ng-enter, .ng-leave {
  animation: blinker 2s;
  -moz-animation: blinker 2s;
  -webkit-animation: blinker 2s;
}

@keyframes blinker {
  /* line 872, ../sass/custom.css.scss */
  0% {
    background-color: white;
  }

  /* line 873, ../sass/custom.css.scss */
  50% {
    background-color: #ffcd00;
  }

  /* line 874, ../sass/custom.css.scss */
  100% {
    background-color: white;
  }
}

@-moz-keyframes blinker {
  /* line 877, ../sass/custom.css.scss */
  0% {
    background-color: white;
  }

  /* line 878, ../sass/custom.css.scss */
  50% {
    background-color: #ffcd00;
  }

  /* line 879, ../sass/custom.css.scss */
  100% {
    background-color: white;
  }
}

@-webkit-keyframes blinker {
  /* line 882, ../sass/custom.css.scss */
  0% {
    background-color: white;
  }

  /* line 883, ../sass/custom.css.scss */
  50% {
    background-color: #ffcd00;
  }

  /* line 884, ../sass/custom.css.scss */
  100% {
    background-color: white;
  }
}

/*----------------------------------------------------------
to reset other css
---------------------------------------------------------- */
/* line 891, ../sass/custom.css.scss */
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: inherit;
}

/*----------------------------------------------------------
common parts
---------------------------------------------------------- */
/* line 898, ../sass/custom.css.scss */
body {
  background-color: #e8e4dd;
  color: #504d45;
}

/* line 902, ../sass/custom.css.scss */
a {
  color: #5d8cbb;
  text-decoration: underline;
}

/* line 906, ../sass/custom.css.scss */
a:hover {
  text-decoration: none;
  color: #eb8fa0;
  background-color: inherit;
}

/* line 913, ../sass/custom.css.scss */
#global a:hover {
  background-color: #fbc92e;
}

/* line 918, ../sass/custom.css.scss */
.comment_info a:hover i, .comment_info a:hover span {
  color: #eb8fa0;
}

/* line 923, ../sass/custom.css.scss */
input[type="number"] {
  text-align: right;
}

/* line 926, ../sass/custom.css.scss */
.container {
  padding: 0 7px;
}

/* line 929, ../sass/custom.css.scss */
.container + .container {
  margin-top: 10px;
}

/* line 932, ../sass/custom.css.scss */
.zbtn01 {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #f6f4f1;
  box-shadow: 0px 1px 2px 0px rgba(77, 26, 0, 0.3);
  -moz-box-shadow: 0px 1px 2px 0px rgba(77, 26, 0, 0.3);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(77, 26, 0, 0.3);
  -o-box-shadow: 0px 1px 2px 0px rgba(77, 26, 0, 0.3);
  -ms-box-shadow: 0px 1px 2px 0px rgba(77, 26, 0, 0.3);
  padding: 7px;
  margin-bottom: 10px;
}

/* line 945, ../sass/custom.css.scss */
.pagination_wrap {
  text-align: center;
  line-height: 0.6;
  clear: both;
}

/* line 950, ../sass/custom.css.scss */
.pagination {
  margin: 0;
}
/* line 952, ../sass/custom.css.scss */
.pagination li a:hover {
  background-color: #fbc92e;
}

/* line 956, ../sass/custom.css.scss */
.pagination_wrap + .newlog-btn {
  margin-top: 10px;
}

/* line 961, ../sass/custom.css.scss */
.newlog-btn, .btn01 {
  color: #1e75aa;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 0px 0px 4px 0px rgba(64, 14, 1, 0.3), 0px 0px 4px 0px #89c9e1 inset;
  -moz-box-shadow: 0px 0px 4px 0px rgba(64, 14, 1, 0.3), 0px 0px 4px 0px #89c9e1 inset;
  -webkit-box-shadow: 0px 0px 4px 0px rgba(64, 14, 1, 0.3), 0px 0px 4px 0px #89c9e1 inset;
  -o-box-shadow: 0px 0px 4px 0px rgba(64, 14, 1, 0.3), 0px 0px 4px 0px #89c9e1 inset;
  -ms-box-shadow: 0px 0px 4px 0px rgba(64, 14, 1, 0.3), 0px 0px 4px 0px #89c9e1 inset;
  height: 35px;
  display: block;
  text-align: center;
  font-size: 18px;
  width: 100%;
  background: #eef5f9;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f6f9fb 0%, #eef5f9 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f6f9fb), color-stop(100%, #eef5f9));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f6f9fb 0%, #eef5f9 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f6f9fb 0%, #eef5f9 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f6f9fb 0%, #eef5f9 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f6f9fb 0%, #eef5f9 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f9fb', endColorstr='#eef5f9',GradientType=0 );
  /* IE6-9 */
  text-decoration: none;
}

/* line 995, ../sass/custom.css.scss */
.newlog-btn:hover, .btn01:hover {
  color: #1e75aa;
  text-decoration: none;
  background: #64ceff;
  /* Old browsers */
  background: -moz-linear-gradient(top, #64ceff 0%, #d9f4fc 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #64ceff), color-stop(100%, #d9f4fc));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #64ceff 0%, #d9f4fc 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #64ceff 0%, #d9f4fc 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #64ceff 0%, #d9f4fc 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #64ceff 0%, #d9f4fc 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#64ceff', endColorstr='#d9f4fc',GradientType=0 );
  /* IE6-9 */
}

/* line 1007, ../sass/custom.css.scss */
.newlog-btn {
  padding-top: 10px;
  clear: both;
}

/* line 1116, ../sass/custom.css.scss */
.btn.active {
  box-shadow: 0px 0px 5px 1px #ff7700 ;
  -webkit-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -moz-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -o-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -ms-box-shadow: 0px 0px 5px 1px #ff7700 ;
}

/* line 1119, ../sass/custom.css.scss */
.btns {
  display: block;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 34px;
  padding: 0 20px;
  border: none;
  color: #6f604a;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -o-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
}

/* line 1122, ../sass/custom.css.scss */
a.btns {
  text-decoration: none;
}

/* line 1125, ../sass/custom.css.scss */
.btn02, .btn02.active {
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdd785), color-stop(1, #efb23d));
  background: -webkit-linear-gradient(#fdd785, #efb23d);
  background: -moz-linear-gradient(#fdd785, #efb23d);
  background: -o-linear-gradient(#fdd785, #efb23d);
  background: -ms-linear-gradient(#fdd785, #efb23d);
  background: linear-gradient(#fdd785, #efb23d);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}

/* line 1128, ../sass/custom.css.scss */
.btn02_om {
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efb23d), color-stop(1, #fdd785));
  background: -webkit-linear-gradient(#efb23d, #fdd785);
  background: -moz-linear-gradient(#efb23d, #fdd785);
  background: -o-linear-gradient(#efb23d, #fdd785);
  background: -ms-linear-gradient(#efb23d, #fdd785);
  background: linear-gradient(#efb23d, #fdd785);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

/* line 1131, ../sass/custom.css.scss */
.btn03 {
  border-top: 1px solid #e1f9c7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #9ac270), color-stop(0, #baea86));
  background: -webkit-linear-gradient(#baea86, #9ac270);
  background: -moz-linear-gradient(#baea86, #9ac270);
  background: -o-linear-gradient(#baea86, #9ac270);
  background: -ms-linear-gradient(#baea86, #9ac270);
  background: linear-gradient(#baea86, #9ac270);
}

/* line 1134, ../sass/custom.css.scss */
.btn03:hover {
  border-top: 1px solid #9bb775;
  border-bottom: 1px solid #fcfbf6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #baea86), color-stop(0, #9ac270));
  background: -webkit-linear-gradient(#9ac270, #baea86);
  background: -moz-linear-gradient(#9ac270, #baea86);
  background: -o-linear-gradient(#9ac270, #baea86);
  background: -ms-linear-gradient(#9ac270, #baea86);
  background: linear-gradient(#9ac270, #baea86);
}

/* line 1137, ../sass/custom.css.scss */
.btn03_om, .logging_settings.btn04.active {
  border-top: 1px solid #9bb775;
  border-bottom: 1px solid #fcfbf6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #baea86), color-stop(0, #9ac270));
  background: -webkit-linear-gradient(#9ac270, #baea86);
  background: -moz-linear-gradient(#9ac270, #baea86);
  background: -o-linear-gradient(#9ac270, #baea86);
  background: -ms-linear-gradient(#9ac270, #baea86);
  background: linear-gradient(#9ac270, #baea86);
}

/* line 1140, ../sass/custom.css.scss */
.btn03.active {
  box-shadow: 0px 0px 5px 1px #ff7700 ;
  -webkit-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -moz-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -o-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -ms-box-shadow: 0px 0px 5px 1px #ff7700 ;
  width: auto;
  margin: 5px;
}

/* line 1145, ../sass/custom.css.scss */
.btn04 {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #e7e3e1), color-stop(0, #f4f1ec));
  background: -webkit-linear-gradient(#f4f1ec, #e7e3e1);
  background: -moz-linear-gradient(#f4f1ec, #e7e3e1);
  background: -o-linear-gradient(#f4f1ec, #e7e3e1);
  background: -ms-linear-gradient(#f4f1ec, #e7e3e1);
  background: linear-gradient(#f4f1ec, #e7e3e1);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}

/* line 1148, ../sass/custom.css.scss */
.btn04:hover, .btn04_om {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e7e3e1), color-stop(1, #f4f1ec));
  background: -webkit-linear-gradient(#e7e3e1, #f4f1ec);
  background: -moz-linear-gradient(#e7e3e1, #f4f1ec);
  background: -o-linear-gradient(#e7e3e1, #f4f1ec);
  background: -ms-linear-gradient(#e7e3e1, #f4f1ec);
  background: linear-gradient(#e7e3e1, #f4f1ec);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}

/* line 1151, ../sass/custom.css.scss */
a.btn04:hover, a.btn04_om {
  color: #5d8cbb !important;
}

/* line 1154, ../sass/custom.css.scss */
.btn05 {
  background: #f3c5bd;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f3c5bd 0%, #e86c57 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f3c5bd), color-stop(100%, #e86c57));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #f3c5bd 0%, #e86c57 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #f3c5bd 0%, #e86c57 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #f3c5bd 0%, #e86c57 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #f3c5bd 0%, #e86c57 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f3c5bd', endColorstr='#e86c57',GradientType=0 );
  /* IE6-9 */
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}

/* line 1158, ../sass/custom.css.scss */
.title01 {
  font-size: 23px;
  text-align: center;
}

/* line 1163, ../sass/custom.css.scss */
.suggest {
  margin-top: 1em;
  margin-bottom: 0;
  text-align: center;
}

/* line 1168, ../sass/custom.css.scss */
.suggest-link {
  font-size: 18px;
}

/* line 1172, ../sass/custom.css.scss */
div#main::before {
  content: " ";
  background: url("/assets/sp/pagename-coins@2.png");
  background-size: 64px 54px;
  width: 64px;
  height: 54px;
  position: absolute;
  top: 44;
  left: 0;
  float: left;
}

/* line 1184, ../sass/custom.css.scss */
h1#page_title {
  margin: 0;
  min-height: 44px;
  padding: 10px 10px 0 43px;
  font-size: 23px;
  position: 　relative;
  top: 0;
  left: 0;
  color: #1b5904;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), #fbc92e;
}

/* line 1196, ../sass/custom.css.scss */
h1#page_title + .container {
  margin-top: 10px;
}

/* line 1225, ../sass/custom.css.scss */
h2.info_sort {
  color: #1c626e;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -o-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  font-size: 13px;
  border-top: #dadb8c solid 1px;
  border-bottom: #dadb8c solid 1px;
  padding: 3px 7px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQIW2N8d1js//cf/xkYn+4W/c/JwcgAAGCDCH3aZ4hfAAAAAElFTkSuQmCC) repeat;
  margin: 10px 0;
  text-align: center;
}

/*----------------------------------------------------------
groval nav
---------------------------------------------------------- */
/* line 1243, ../sass/custom.css.scss */
nav#global {
  width: 100%;
  background: #fce59f;
  min-height: 33px;
  box-shadow: 0px 2px 4px 0px rgba(77, 26, 0, 0.3);
  -webkit-box-shadow: 0px 2px 4px 0px rgba(77, 26, 0, 0.3);
  -moz-box-shadow: 0px 2px 4px 0px rgba(77, 26, 0, 0.3);
  -o-box-shadow: 0px 2px 4px 0px rgba(77, 26, 0, 0.3);
  -ms-box-shadow: 0px 2px 4px 0px rgba(77, 26, 0, 0.3);
}

@media (min-width: 768px) {
  /* line 1253, ../sass/custom.css.scss */
  .menu-icon {
    display: block;
    float: left;
  }
}

/* line 1259, ../sass/custom.css.scss */
nav#global .container {
  padding: 0;
}

/* line 1262, ../sass/custom.css.scss */
nav#global ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  margin: 0 auto;
}
/* line 1269, ../sass/custom.css.scss */
nav#global ul li {
  color: #4a7a23;
  text-shadow: 0px 1px 0px #dcffc3;
  list-style: none;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
  min-width: 47px;
}
@media (max-width: 991px) {
  /* line 1278, ../sass/custom.css.scss */
  nav#global ul li .menu-icon {
    float: none;
  }
}
/* line 1282, ../sass/custom.css.scss */
nav#global ul li.active a {
  border-left: none;
  border-top: none;
  background-color: #fbc92e;
}
/* line 1287, ../sass/custom.css.scss */
nav#global ul li a {
  border-left: #ffeeb3 solid 1px;
  border-top: #ffeeb3 solid 1px;
  display: block;
  height: 44px;
  min-width: 45px;
  box-sizing: border-box;
  text-decoration: none;
  color: #4a7a23;
  text-shadow: 0px 1px 0px #dcffc3;
}
/* line 1290, ../sass/custom.css.scss */
nav#global ul li a:hover {
  border-left: none;
  border-top: none;
  text-decoration: none;
}
/* line 1302, ../sass/custom.css.scss */
nav#global ul li a span {
  display: block;
  margin: 0 auto;
}
/* line 1308, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline {
  width: 100%;
  padding: 0;
}
/* line 1311, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline ul.set {
  float: right;
}
/* line 1313, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline ul.set li {
  float: right;
}
/* line 1317, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li {
  display: block;
  height: 33px;
  vertical-align: top;
  font-size: 24px;
}
/* line 1322, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li.logo {
  min-width: 118px;
  float: left;
}
/* line 1329, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li.setting .icon-cog {
  padding-top: 3px;
}
/* line 1332, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li.setting .pc-menu {
  padding-top: 5px;
}
/* line 1335, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li.setting li {
  height: auto;
}
/* line 1341, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li a {
  height: 33px;
}
@media (max-width: 767px) {
  /* line 1341, ../sass/custom.css.scss */
  nav#global ul ul.menu-firstline li a {
    padding: 0;
  }
}
@media (min-width: 768px) {
  /* line 1341, ../sass/custom.css.scss */
  nav#global ul ul.menu-firstline li a {
    padding: 0 10px;
  }
}
/* line 1350, ../sass/custom.css.scss */
nav#global ul ul.menu-firstline li span.pc-menu {
  display: none;
}
@media (min-width: 992px) {
  /* line 1350, ../sass/custom.css.scss */
  nav#global ul ul.menu-firstline li span.pc-menu {
    display: block;
    float: left;
    font-size: 15px;
    padding: 4px 10px;
  }
}
@media (min-width: 992px) {
  /* line 1359, ../sass/custom.css.scss */
  nav#global ul ul.menu-firstline li .logo span.pc-menu {
    padding-top: 10px;
    color: #1b5904;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  }
}
/* line 1368, ../sass/custom.css.scss */
nav#global ul li.separator {
  display: block;
  width: 100%;
  height: 1px;
  background: #e6c06e;
}
/* line 1373, ../sass/custom.css.scss */
nav#global ul li.separator:hover {
  border: none;
  background: #e6c06e;
}
/* line 1378, ../sass/custom.css.scss */
nav#global ul ul.menu-secondline {
  clear: both;
  width: 100%;
}
/* line 1381, ../sass/custom.css.scss */
nav#global ul ul.menu-secondline li {
  display: block;
  float: left;
  border-right: #e6c06e solid 1px;
  text-align: center;
}
@media (max-width: 991px) {
  /* line 1381, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li {
    height: 53px;
  }
  /* line 1387, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li .menu-icon {
    float: none;
  }
}
@media (min-width: 992px) {
  /* line 1381, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li {
    height: 45px;
  }
}
/* line 1395, ../sass/custom.css.scss */
nav#global ul ul.menu-secondline li a {
  padding: 4px 10px 0 10px;
}
@media (max-width: 991px) {
  /* line 1395, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li a {
    height: 53px;
  }
}
@media (min-width: 992px) {
  /* line 1395, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li a {
    height: 45px;
  }
}
@media (max-width: 991px) {
  /* line 1404, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li span.pc-menu {
    font-size: 11px;
    clear: both;
  }
}
@media (min-width: 992px) {
  /* line 1404, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li span.pc-menu {
    display: block;
    float: left;
    font-size: 16px;
    padding: 8px 10px;
  }
}
@media (min-width: 992px) {
  /* line 1416, ../sass/custom.css.scss */
  nav#global ul ul.menu-secondline li .logo span.pc-menu {
    padding-top: 10px;
    color: #1b5904;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  }
}
/* line 1425, ../sass/custom.css.scss */
nav#global ul li.signin {
  background: #cef2c9;
  border-left: #f0fded solid 1px;
  border-top: #f0fded solid 1px;
  border-right: #b4d9b7 solid 1px;
  border-bottom: #b4d9b7 solid 1px;
}
/* line 1431, ../sass/custom.css.scss */
nav#global ul li.signin a {
  font-size: 20px;
  font-weight: bold;
  color: #44a936;
  text-shadow: 0px 1px 0px #eefcf8;
  border: none;
  padding: 0 20px !important;
}
/* line 1439, ../sass/custom.css.scss */
nav#global ul li.signin a:hover, nav#global ul li.signin.active a {
  background: #51b73d;
  color: #bdeab7;
  text-shadow: 0px -1px 0px #268513;
}
/* line 1444, ../sass/custom.css.scss */
nav#global ul li.signin:hover, nav#global ul li.signin.active {
  border: #3e8730 solid 1px;
}
/* line 1449, ../sass/custom.css.scss */
nav#global ul li.setting a {
  border: none;
}
@media (max-width: 767px) {
  /* line 1449, ../sass/custom.css.scss */
  nav#global ul li.setting a {
    padding: 4px 0 0 0;
  }
}
@media (min-width: 768px) {
  /* line 1449, ../sass/custom.css.scss */
  nav#global ul li.setting a {
    padding: 2px 10px 0 10px;
  }
}
/* line 1458, ../sass/custom.css.scss */
nav#global ul li.setting .pc-menu {
  padding-top: 3px;
}
/* line 1462, ../sass/custom.css.scss */
nav#global ul li ul.dropdown-menu li, nav#global ul li ul.dropdown-menu li a {
  display: block;
  font-size: 16px;
  padding: 3px 10px;
  height: auto;
  width: 100%;
  text-align: left;
}
/* line 1471, ../sass/custom.css.scss */
nav#global ul li ul.dropdown-menu li:hover, nav#global ul li ul.dropdown-menu li.active {
  background: #fbc92e;
}
/* line 1473, ../sass/custom.css.scss */
nav#global ul li ul.dropdown-menu li:hover a, nav#global ul li ul.dropdown-menu li.active a {
  background: #fbc92e;
}
/* line 1477, ../sass/custom.css.scss */
nav#global ul li ul.dropdown-menu li:hover, nav#global ul li ul.dropdown-menu li.active {
  border: #a37418 solid 1px;
}
/* line 1480, ../sass/custom.css.scss */
nav#global ul li ul.dropdown-menu li#username:hover {
  background: inherit;
  border: none;
}

/* line 1486, ../sass/custom.css.scss */
#num_unread_messages {
  font-size: 12px;
  float: left;
  background: #fa8d6b;
  color: #fff;
  text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -moz-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -webkit-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -o-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -ms-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  display: block;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  min-width: 20px;
  height: 20px;
  margin-top: 3px !important;
}

@media (max-width: 991px) {
  /* line 1505, ../sass/custom.css.scss */
  .menu-icon.typcn-mail {
    float: left !important;
  }
}
/* line 1509, ../sass/custom.css.scss */
.dropdown-menu {
  right: 0;
  left: auto;
}

/* line 1513, ../sass/custom.css.scss */
.dropdown-header {
  color: #999999;
}

/*----------------------------------------------------------
rss
views/shared/_update_infos.html.erb
---------------------------------------------------------- */
/* line 1520, ../sass/custom.css.scss */
div.rss-infos {
  width: 100%;
  overflow: auto;
  max-height: 220px;
}
/* line 1525, ../sass/custom.css.scss */
div.rss-infos .each_title-wrap {
  border-top: 1px solid #e9e7d4;
  margin-top: 7px;
}
/* line 1528, ../sass/custom.css.scss */
div.rss-infos .each_title-wrap:first-child {
  border-top: none;
  margin-top: 0;
}
/* line 1531, ../sass/custom.css.scss */
div.rss-infos .each_title-wrap:first-child .each_title {
  padding: 0;
  border-top: none;
}
/* line 1537, ../sass/custom.css.scss */
div.rss-infos .each_title {
  padding: 7px 0 0 0;
  border-top: 1px solid #fff;
}
/* line 1540, ../sass/custom.css.scss */
div.rss-infos .each_title a.user_img {
  display: table-cell;
  padding-right: 10px;
  width: 35px;
}
/* line 1544, ../sass/custom.css.scss */
div.rss-infos .each_title a.user_img:hover {
  background: none;
}
/* line 1547, ../sass/custom.css.scss */
div.rss-infos .each_title a.user_img img.user_img {
  width: 25px;
  height: 25px;
}
/* line 1552, ../sass/custom.css.scss */
div.rss-infos .each_title .infos {
  display: table-cell;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
}
/* line 1557, ../sass/custom.css.scss */
div.rss-infos .each_title .infos p {
  margin: 0;
}
/* line 1559, ../sass/custom.css.scss */
div.rss-infos .each_title .infos p.name-date {
  line-height: 1;
  margin-bottom: 5px;
}
/* line 1564, ../sass/custom.css.scss */
div.rss-infos .each_title .infos .user_name {
  font-size: 18px;
}
/* line 1567, ../sass/custom.css.scss */
div.rss-infos .each_title .infos .date {
  font-size: 12px;
}
/* line 1570, ../sass/custom.css.scss */
div.rss-infos .each_title .infos .title {
  clear: both;
}

/*----------------------------------------------------------
TLtableは
次の①と②の組み合わせ
① app/views/shares/_log.html.erb
② 個人 app/views/logs/_tables.html.erb
② ユーザ＋自分、ALL app/views/logs/list.html.erb
---------------------------------------------------------- */
/* line 1583, ../sass/custom.css.scss */
.newlog-btn + .pagination_wrap {
  margin-top: 10px;
}

/* line 1586, ../sass/custom.css.scss */
.date_separater, .sort_separater {
  color: #9d8d80;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -o-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  font-size: 13px;
  border-top: #dbcbc3 solid 1px;
  border-bottom: #dbcbc3 solid 1px;
  padding: 3px 7px 1px 7px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAG0lEQVQIW2N8/fjM/+/ffzAwPrp15D8nJwcDAHGNChuqoZPQAAAAAElFTkSuQmCC) repeat;
  margin: 10px 0;
  text-align: center;
}

/* line 1601, ../sass/custom.css.scss */
.sort_separater {
  font-size: 16px;
  color: #44380d;
  font-weight: bold;
  margin: 30px 0 10px 0;
}

/* line 1607, ../sass/custom.css.scss */
.date_separater > *, .sort_separater > * {
  margin: 0;
}

/* line 1610, ../sass/custom.css.scss */
.sort_separater + p.help, .form-group + p.help {
  margin-top: -10px;
}

/* line 1613, ../sass/custom.css.scss */
p.help {
  margin: 0;
  text-indent: -1em;
  padding-left: 1em;
}

/* line 1618, ../sass/custom.css.scss */
.title-separater {
  text-align: center;
  font-weight: bold;
  font-size: 1.7rem;
  padding: 0.2rem;
  clear: both;
  margin: 0;
  color: #1b5904;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), #f6f4f1;
  /* Old browsers */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), -moz-linear-gradient(left, #f6f4f1 0%, #fbc92e 25%, #fbc92e 75%, #f6f4f1 100%);
  /* FF3.6+ */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), -webkit-gradient(linear, left top, right top, color-stop(0%, #f6f4f1), color-stop(25%, #fbc92e), color-stop(75%, #fbc92e), color-stop(100%, #f6f4f1));
  /* Chrome,Safari4+ */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), -webkit-linear-gradient(left, #f6f4f1 0%, #fbc92e 25%, #fbc92e 75%, #f6f4f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), -o-linear-gradient(left, #f6f4f1 0%, #fbc92e 25%, #fbc92e 75%, #f6f4f1 100%);
  /* Opera 11.10+ */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), -ms-linear-gradient(left, #f6f4f1 0%, #fbc92e 25%, #fbc92e 75%, #f6f4f1 100%);
  /* IE10+ */
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), linear-gradient(to right, #f6f4f1 0%, #fbc92e 25%, #fbc92e 75%, #f6f4f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f4f1', endColorstr='#f6f4f1',GradientType=1 );
  /* IE6-9 */
}

/* line 1638, ../sass/custom.css.scss */
.title-separater-wrap {
  padding: 1px;
  margin: 0.5rem 0;
  background: #f6f4f1;
  /* Old browsers */
  background: -moz-linear-gradient(left, #f6f4f1 0%, #c1baa6 50%, #f6f4f1 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f6f4f1), color-stop(50%, #c1baa6), color-stop(100%, #f6f4f1));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #f6f4f1 0%, #c1baa6 50%, #f6f4f1 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #f6f4f1 0%, #c1baa6 50%, #f6f4f1 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #f6f4f1 0%, #c1baa6 50%, #f6f4f1 100%);
  /* IE10+ */
  background: linear-gradient(to right, #f6f4f1 0%, #c1baa6 50%, #f6f4f1 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f4f1', endColorstr='#f6f4f1',GradientType=1 );
  /* IE6-9 */
}

/* line 1650, ../sass/custom.css.scss */
.title-separater02 {
  text-align: center;
  border-radius: 5px 5px 0 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-radius-bottomleft: 0;
  -webkit-border-radius-bottomright: 0;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  margin-bottom: 0 !important;
  padding: 5px 0 3px 0;
  color: #1b5904;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), #fbc92e;
  font-weight: bold;
  font-size: 21px;
}

/* line 1667, ../sass/custom.css.scss */
.title-separater03 {
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  padding: 5px 0 3px 0;
  color: #1b5904;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8////TEZGxnRGBigAADyFBANlCGRpAAAAAElFTkSuQmCC), #fbc92e;
  font-weight: bold;
  font-size: 21px;
}

/* line 1681, ../sass/custom.css.scss */
.title-separater02 + .zbtn01 {
  margin-top: 0;
  border-radius: 0 0 5px 5px;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-radius-topleft: 0;
  -webkit-border-radius-topright: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
}

/* line 1691, ../sass/custom.css.scss */
.must {
  margin-left: 0.5em;
  font-size: 13px;
  color: #ff0000;
}

/* line 1696, ../sass/custom.css.scss */
.sub-btn01, .btns.btn04.sub-btn01.icon-2x {
  font-size: 20px;
  float: right;
  margin-right: 10px;
  padding: 2px;
  margin-bottom: 0;
  width: 38px;
  padding-top: 7px;
}

/* line 1705, ../sass/custom.css.scss */
.comment_row_wrap {
  border-top: 1px solid #e9e7d4;
}

/* line 1708, ../sass/custom.css.scss */
.comment_row {
  padding-top: 7px;
  border-top: 1px solid #fff;
  display: table;
  width: 100%;
  padding-bottom: 10px;
}
/* line 1714, ../sass/custom.css.scss */
.comment_row .comment_user {
  display: table-cell;
  width: 45px;
}
/* line 1717, ../sass/custom.css.scss */
.comment_row .comment_user:hover {
  background: none;
}
/* line 1721, ../sass/custom.css.scss */
.comment_row .comment_user, .comment_row .comment_user img {
  width: 35px;
  margin-right: 10px;
}
/* line 1725, ../sass/custom.css.scss */
.comment_row .comment_info {
  display: table-cell;
  vertical-align: top;
}
/* line 1728, ../sass/custom.css.scss */
.comment_row .comment_info .name_time {
  display: table;
  width: 100%;
}
/* line 1732, ../sass/custom.css.scss */
.comment_row .comment_info .user_name {
  display: table-cell;
}
/* line 1735, ../sass/custom.css.scss */
.comment_row .comment_info .comment_time {
  display: table-cell;
  font-size: 12px;
  text-align: right;
}
/* line 1740, ../sass/custom.css.scss */
.comment_row .comment_info .arrow_box {
  padding: 5px 10px;
}
/* line 1742, ../sass/custom.css.scss */
.comment_row .comment_info .arrow_box .comment_content {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 16px;
  font-size: 1em;
}
/* line 1748, ../sass/custom.css.scss */
.comment_row .comment_info .arrow_box .icon-trash {
  margin-left: 2em;
}

/* line 1754, ../sass/custom.css.scss */
.comment_btn {
  width: 100% !important;
  margin-top: 7px;
}

/* line 1758, ../sass/custom.css.scss */
.comment_btn:hover {
  border-top: 1px solid #9bb775;
  border-bottom: 1px solid #fcfbf6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #baea86), color-stop(0, #9ac270));
  background: -webkit-linear-gradient(#9ac270, #baea86);
  background: -moz-linear-gradient(#9ac270, #baea86);
  background: -o-linear-gradient(#9ac270, #baea86);
  background: -ms-linear-gradient(#9ac270, #baea86);
  background: linear-gradient(#9ac270, #baea86);
}

/* line 1761, ../sass/custom.css.scss */
.more_btn {
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdd785), color-stop(1, #efb23d));
  background: -webkit-linear-gradient(#fdd785, #efb23d);
  background: -moz-linear-gradient(#fdd785, #efb23d);
  background: -o-linear-gradient(#fdd785, #efb23d);
  background: -ms-linear-gradient(#fdd785, #efb23d);
  background: linear-gradient(#fdd785, #efb23d);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  width: 100%;
  display: block;
  padding: 10px 20px 8px 20px;
  text-align: center;
  width: 100%;
  clear: both;
}
/* line 1769, ../sass/custom.css.scss */
.more_btn:hover {
  color: #fff;
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efb23d), color-stop(1, #fdd785));
  background: -webkit-linear-gradient(#efb23d, #fdd785);
  background: -moz-linear-gradient(#efb23d, #fdd785);
  background: -o-linear-gradient(#efb23d, #fdd785);
  background: -ms-linear-gradient(#efb23d, #fdd785);
  background: linear-gradient(#efb23d, #fdd785);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}
/* line 1773, ../sass/custom.css.scss */
.more_btn.typcn-eye::before {
  position: relative;
  top: -3px;
}
/* line 1777, ../sass/custom.css.scss */
.more_btn.icon-hand-right::before {
  position: relative;
  left: -5px;
}

/* line 1782, ../sass/custom.css.scss */
.more_btn + .more-info {
  margin-top: 10px;
}

/* line 1785, ../sass/custom.css.scss */
div.log-info {
  margin-left: auto;
  margin-right: auto;
  display: table;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 1785, ../sass/custom.css.scss */
  div.log-info {
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  /* line 1785, ../sass/custom.css.scss */
  div.log-info {
    width: 49%;
    margin-right: 1%;
  }
  /* line 1795, ../sass/custom.css.scss */
  div.log-info:nth-child(odd) {
    float: left;
    clear: left;
  }
  /* line 1799, ../sass/custom.css.scss */
  div.log-info:nth-child(even) {
    float: right;
    clear: right;
  }
}
/* line 1804, ../sass/custom.css.scss */
div.log-info .edit-eachlog {
  float: right;
  cursor: pointer;
}
/* line 1807, ../sass/custom.css.scss */
div.log-info .edit-eachlog .dropdown-menu {
  min-width: 100px;
  width: 100px;
}
/* line 1810, ../sass/custom.css.scss */
div.log-info .edit-eachlog .dropdown-menu a {
  font-size: 1em;
  display: block;
  padding: 10px;
  border: none;
}

/* line 1819, ../sass/custom.css.scss */
.each_logs.each-user {
  padding: 0 !important;
}

/* line 1822, ../sass/custom.css.scss */
.each_logs {
  padding: 7px 0;
}
/* line 1824, ../sass/custom.css.scss */
.each_logs:first-child {
  padding: 0 0 7px 0;
  border-top: none;
}
/* line 1828, ../sass/custom.css.scss */
.each_logs a.user_img {
  display: table-cell;
  padding-right: 10px;
  width: 55px;
}
/* line 1832, ../sass/custom.css.scss */
.each_logs a.user_img:hover {
  background: none;
}
/* line 1835, ../sass/custom.css.scss */
.each_logs a.user_img img.user_img {
  width: 45px;
  height: 45px;
}
/* line 1840, ../sass/custom.css.scss */
.each_logs .infos {
  display: table-cell;
  width: 100%;
  padding: 0;
  overflow: hidden;
  vertical-align: top;
}
/* line 1846, ../sass/custom.css.scss */
.each_logs .infos p {
  margin: 0;
}
/* line 1848, ../sass/custom.css.scss */
.each_logs .infos p.name-date {
  line-height: 1;
  margin-bottom: 5px;
}
/* line 1853, ../sass/custom.css.scss */
.each_logs .infos .user_name {
  font-size: 18px;
}
/* line 1856, ../sass/custom.css.scss */
.each_logs .infos .date {
  font-size: 12px;
}
/* line 1859, ../sass/custom.css.scss */
.each_logs .infos .title {
  clear: both;
}
/* line 1862, ../sass/custom.css.scss */
.each_logs .infos .set {
  margin-bottom: 10px;
  display: table;
}
/* line 1866, ../sass/custom.css.scss */
.each_logs .infos .spacer {
  width: 1em;
  display: table-cell;
}
/* line 1870, ../sass/custom.css.scss */
.each_logs .infos .income-minus {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: table-cell;
  background-color: #fa8d6b;
  width: 8em;
  padding: 4px 12px;
  text-align: right;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -moz-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -webkit-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -o-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -ms-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
}
/* line 1888, ../sass/custom.css.scss */
.each_logs .infos .income-plus {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  display: table-cell;
  background-color: #5fbbe2;
  width: 8em;
  padding: 4px 12px;
  text-align: right;
  color: #fff;
  font-size: 24px;
  font-size: 1.5rem;
  text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -moz-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -webkit-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -o-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -ms-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
}
/* line 1906, ../sass/custom.css.scss */
.each_logs .infos .comments, .each_logs .infos .picture {
  display: table-cell;
  max-width: 10em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-top: #fff;
  padding: 4px 12px;
}
/* line 1914, ../sass/custom.css.scss */
.each_logs .infos .comments .num, .each_logs .infos .picture .num {
  margin-left: 1em;
}
/* line 1918, ../sass/custom.css.scss */
.each_logs .infos .comments {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #e7e3e1), color-stop(0, #f4f1ec));
  background: -webkit-linear-gradient(#f4f1ec, #e7e3e1);
  background: -moz-linear-gradient(#f4f1ec, #e7e3e1);
  background: -o-linear-gradient(#f4f1ec, #e7e3e1);
  background: -ms-linear-gradient(#f4f1ec, #e7e3e1);
  background: linear-gradient(#f4f1ec, #e7e3e1);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  color: #b34f27;
  text-shadow: 0px 1px 0px white;
  -moz-text-shadow: 0px 1px 0px white;
  -webkit-text-shadow: 0px 1px 0px white;
  -o-text-shadow: 0px 1px 0px white;
  -ms-text-shadow: 0px 1px 0px white;
}
/* line 1926, ../sass/custom.css.scss */
.each_logs .infos .comments:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e7e3e1), color-stop(1, #f4f1ec));
  background: -webkit-linear-gradient(#e7e3e1, #f4f1ec);
  background: -moz-linear-gradient(#e7e3e1, #f4f1ec);
  background: -o-linear-gradient(#e7e3e1, #f4f1ec);
  background: -ms-linear-gradient(#e7e3e1, #f4f1ec);
  background: linear-gradient(#e7e3e1, #f4f1ec);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}
/* line 1930, ../sass/custom.css.scss */
.each_logs .infos .picture {
  color: #4a82c2;
}
@media screen and (max-width: 991px) {
  /* line 1939, ../sass/custom.css.scss */
  .each_logs .infos .spacer {
    width: 0.5em;
  }
  /* line 1942, ../sass/custom.css.scss */
  .each_logs .infos .income-plus, .each_logs .infos .income-minus {
    font-size: 1.2rem;
  }
  /* line 1945, ../sass/custom.css.scss */
  .each_logs .infos .comments, .each_logs .infos .picture {
    font-size: 1rem;
  }
  /* line 1947, ../sass/custom.css.scss */
  .each_logs .infos .comments .num, .each_logs .infos .picture .num {
    font-size: 1.1rem;
    margin-left: 0.5em;
  }
}
/* line 1953, ../sass/custom.css.scss */
.each_logs .infos .num-info {
  overflow: hidden;
  zoom: 1;
  width: 100%;
}
/* line 1957, ../sass/custom.css.scss */
.each_logs .infos .num-info dl {
  margin: 0;
  display: table;
  width: 100%;
  margin: 0;
  padding: 6px;
  color: #504d45;
}
/* line 1964, ../sass/custom.css.scss */
.each_logs .infos .num-info dl:nth-child(odd) {
  background-color: #fbf1c3;
}
/* line 1967, ../sass/custom.css.scss */
.each_logs .infos .num-info dl dt {
  display: table-cell;
  font-weight: normal;
}
/* line 1971, ../sass/custom.css.scss */
.each_logs .infos .num-info dl dd {
  display: table-cell;
  text-align: right;
}

/* line 1979, ../sass/custom.css.scss */
.sum-wrap {
  clear: both;
}

/* line 1982, ../sass/custom.css.scss */
.sum-date {
  clear: both;
  text-align: center;
  background-color: #fbc92e;
}

@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 1989, ../sass/custom.css.scss */
  .sum dl {
    margin: 0;
    display: table;
    width: 100%;
    margin: 0;
    padding: 6px;
    color: #504d45;
  }
  /* line 1996, ../sass/custom.css.scss */
  .sum dl:nth-child(odd) {
    background-color: #fbf1c3;
  }
  /* line 1999, ../sass/custom.css.scss */
  .sum dl dt {
    display: table-cell;
    font-weight: normal;
  }
  /* line 2003, ../sass/custom.css.scss */
  .sum dl dd {
    display: table-cell;
    text-align: right;
  }
}
@media screen and (min-width: 768px) {
  /* line 1987, ../sass/custom.css.scss */
  .sum {
    display: table;
    width: 100%;
  }
  /* line 2012, ../sass/custom.css.scss */
  .sum dl {
    display: table-cell;
    width: 20%;
    padding: 10px;
  }
  /* line 2016, ../sass/custom.css.scss */
  .sum dl:nth-child(odd) {
    background-color: #fbf1c3;
  }
  /* line 2019, ../sass/custom.css.scss */
  .sum dl dt {
    float: left;
  }
  /* line 2022, ../sass/custom.css.scss */
  .sum dl dd {
    float: right;
    text-align: right;
  }
}

/* 登録画像 */
/* line 2030, ../sass/custom.css.scss */
.title-images {
  text-align: center;
}

/* line 2033, ../sass/custom.css.scss */
.viewport {
  max-width: 320px;
  overflow: hidden;
  margin: 0 auto;
  -webkit-transform: translateZ(0);
  /* Optional: When heavy at iOS6+ */
  white-space: nowrap;
}

/* line 2040, ../sass/custom.css.scss */
.flipsnap {
  width: 10000px;
  margin-left: 10px;
  font-size: 0px;
}

/* line 2046, ../sass/custom.css.scss */
.item {
  float: left;
  width: 290px;
  font-size: 50px;
  margin: 0px;
  text-align: center;
  padding: 50px 0;
  margin: 0px 5px;
  border: 5px solid #ddd;
  color: #666;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
/* line 2059, ../sass/custom.css.scss */
.item img {
  text-align: center;
  max-height: 100%;
  max-width: 100%;
  display: inline-block;
}

/* line 2067, ../sass/custom.css.scss */
.pointer {
  text-align: center;
}

/* line 2070, ../sass/custom.css.scss */
.pointer span {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border: 1px solid #000;
}

/* line 2079, ../sass/custom.css.scss */
.pointer span.current {
  background: #FC0;
}

/* line 2082, ../sass/custom.css.scss */
.controls {
  text-align: center;
}

/* line 2086, ../sass/custom.css.scss */
.navbar-collapse {
  max-height: 3000px;
}

/* line 2090, ../sass/custom.css.scss */
.item {
  display: inline-block;
}

/*----------------------------------------------------------
profile page
views/users/show.html.erb
---------------------------------------------------------- */
/* alert */
/* line 2098, ../sass/custom.css.scss */
.alert {
  margin: 0;
  text-align: center;
}

/* line 2102, ../sass/custom.css.scss */
#notice {
  text-align: center;
  margin: 0;
}

/* line 2106, ../sass/custom.css.scss */
#profile, #login {
  max-width: 30em;
  margin: 0 auto;
}

/* line 2111, ../sass/custom.css.scss */
#profile img.prof_avater {
  margin: 0 auto;
  max-width: 120px;
  max-height: 120px;
}
/* line 2116, ../sass/custom.css.scss */
#profile .user_name {
  text-align: center;
  font-size: 19px;
  margin: 0.3em 0;
  padding: 10px 20px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 2126, ../sass/custom.css.scss */
#profile .user_intr, #profile .user_url, #profile .user_rss {
  text-align: center;
  font-size: 16px;
}
/* line 2130, ../sass/custom.css.scss */
#profile .user_url {
  text-align: left;
}
/* line 2133, ../sass/custom.css.scss */
#profile .user_intr {
  padding: 10px 20px;
  background: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
/* line 2140, ../sass/custom.css.scss */
#profile .user_btns {
  text-align: center;
}
/* line 2143, ../sass/custom.css.scss */
#profile div[id*="follow_form"] input {
  margin: 10px auto;
  display: block;
}

/* フォロー・アンフォローボタン */
/* line 2149, ../sass/custom.css.scss */
.follow-btn, .unfollow-btn {
  display: block;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  height: 34px;
  padding: 0 20px;
  border: none;
  color: #6f604a;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -o-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  -ms-text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  width: 100%;
}

/* line 2153, ../sass/custom.css.scss */
.follow-btn {
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdd785), color-stop(1, #efb23d));
  background: -webkit-linear-gradient(#fdd785, #efb23d);
  background: -moz-linear-gradient(#fdd785, #efb23d);
  background: -o-linear-gradient(#fdd785, #efb23d);
  background: -ms-linear-gradient(#fdd785, #efb23d);
  background: linear-gradient(#fdd785, #efb23d);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}

/* line 2156, ../sass/custom.css.scss */
.unfollow-btn {
  border-top: 1px solid #9bb775;
  border-bottom: 1px solid #fcfbf6;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(1, #baea86), color-stop(0, #9ac270));
  background: -webkit-linear-gradient(#9ac270, #baea86);
  background: -moz-linear-gradient(#9ac270, #baea86);
  background: -o-linear-gradient(#9ac270, #baea86);
  background: -ms-linear-gradient(#9ac270, #baea86);
  background: linear-gradient(#9ac270, #baea86);
}

/*----------------------------------------------------------
profile edit page
views/users/show.html.erb
---------------------------------------------------------- */
/* line 2163, ../sass/custom.css.scss */
.zbtn01.settig {
  max-width: 36em;
  margin: 0 auto;
}
/* line 2166, ../sass/custom.css.scss */
.zbtn01.settig .btn04:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #e7e3e1), color-stop(1, #f4f1ec));
  background: -webkit-linear-gradient(#e7e3e1, #f4f1ec);
  background: -moz-linear-gradient(#e7e3e1, #f4f1ec);
  background: -o-linear-gradient(#e7e3e1, #f4f1ec);
  background: -ms-linear-gradient(#e7e3e1, #f4f1ec);
  background: linear-gradient(#e7e3e1, #f4f1ec);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  color: #333;
}
/* line 2170, ../sass/custom.css.scss */
.zbtn01.settig p.sort {
  color: #599455;
  padding-left: 3px;
  margin: 0;
}

/* line 2176, ../sass/custom.css.scss */
.thumb-form {
  padding: 0;
  margin: 0;
  line-height: 1;
  background: none;
  border: none;
  box-shadow: none;
}

/* line 2184, ../sass/custom.css.scss */
.thumb-wrap {
  display: table;
}

/* line 2187, ../sass/custom.css.scss */
#thumb img {
  margin-right: 10px;
}

/* line 2190, ../sass/custom.css.scss */
#thumb, .thumb-form-wrap {
  display: table-cell;
  vertical-align: top;
}

/*----------------------------------------------------------
signup page
views/users/new.html.erb
---------------------------------------------------------- */
/* line 2198, ../sass/custom.css.scss */
.create_acount {
  width: 100%;
}

/*----------------------------------------------------------
log page
views/logs/show.html.erb
---------------------------------------------------------- */
/* line 2205, ../sass/custom.css.scss */
.zbtn01.logs, .option.logs, .title-separater02.logs {
  max-width: 55rem;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* line 2210, ../sass/custom.css.scss */
.zbtn01.logs + .option.logs {
  margin-bottom: 0px;
}

/* line 2213, ../sass/custom.css.scss */
#tag_generator p {
  margin: 5px 0 10 0;
}

/* line 2216, ../sass/custom.css.scss */
#reset_flag, a[data-method="delete"] {
  font-weight: normal;
  padding-top: 4px;
  text-decoration: none;
}

/* line 2221, ../sass/custom.css.scss */
a[data-method="delete"] {
  margin-bottom: 0;
}

/* line 2224, ../sass/custom.css.scss */
.comment_row.delete {
  margin-bottom: 0;
}

/* line 2227, ../sass/custom.css.scss */
.input-group {
  width: 100%;
}

/* line 2230, ../sass/custom.css.scss */
.memo_row {
  display: table;
  width: 100%;
}
/* line 2233, ../sass/custom.css.scss */
.memo_row .memo_user {
  display: table-cell;
  width: 65px;
  vertical-align: top;
}
/* line 2237, ../sass/custom.css.scss */
.memo_row .memo_user:hover {
  background: inherit;
}
/* line 2241, ../sass/custom.css.scss */
.memo_row .memo_info {
  display: table-cell;
  vertical-align: top;
}
/* line 2244, ../sass/custom.css.scss */
.memo_row .memo_info .arrow_box {
  width: 100%;
}

/*----------------------------------------------------------
log new page
log edit page
views/logs/form.html.erb
views/logs/_form_log_detail.html.erb
views/logs/edit.html.erb
---------------------------------------------------------- */
/* line 2256, ../sass/custom.css.scss */
.sort_separater.first {
  margin: 0 0 10px 0;
}

/* line 2259, ../sass/custom.css.scss */
.logging-settings-area {
  overflow: hidden;
  zoom: 1;
  padding-bottom: 5px;
}

/* line 2264, ../sass/custom.css.scss */
.logs .logging_settings.btns {
  padding-top: 3px;
  text-align: center;
  margin-bottom: 7px;
  width: 49%;
  margin-right: 1%;
  float: left;
  margin-bottom: 0px;
}

/* line 2275, ../sass/custom.css.scss */
#log-submit.btns {
  width: 100%;
}

/* line 2278, ../sass/custom.css.scss */
.logs .btns {
  width: auto;
}

/* line 2281, ../sass/custom.css.scss */
#input-images input[type="file"] {
  max-width: 292px;
}

/* line 2284, ../sass/custom.css.scss */
.form-group.pro-mode, .form-group.easy-mode {
  clear: both;
}

/* line 2287, ../sass/custom.css.scss */
.form-group {
  overflow: hidden;
  zoom: 1;
}

/* line 2291, ../sass/custom.css.scss */
.btn-income {
  font-weight: bold;
}

/* line 2294, ../sass/custom.css.scss */
.btn-income.plus.active {
  background-color: #fa8d6b;
  border-left: 1px solid #fa8d6b;
}

/* line 2298, ../sass/custom.css.scss */
.btn-income.plus {
  background-color: #f7e8dd;
  border-left: 1px solid #ccc;
}

/* line 2302, ../sass/custom.css.scss */
.btn-income.minus.active {
  background-color: #5fbbe2;
}

/* line 2305, ../sass/custom.css.scss */
.btn-income.minus {
  background-color: #d9eeef;
}

/* line 2308, ../sass/custom.css.scss */
#reset_btn.btn03.active {
  box-shadow: 0px 0px 5px 1px #ff7700 ;
  -webkit-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -moz-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -o-box-shadow: 0px 0px 5px 1px #ff7700 ;
  -ms-box-shadow: 0px 0px 5px 1px #ff7700 ;
  width: auto;
}

/* line 2312, ../sass/custom.css.scss */
.btns.btn04.edit {
  text-decoration: none;
  padding-top: 4px;
  margin-bottom: 10px;
  font-weight: bold;
}

/* line 2318, ../sass/custom.css.scss */
#input-images.controls {
  text-align: left;
}

/* line 2321, ../sass/custom.css.scss */
p.exp {
  text-align: center;
}

/* line 2324, ../sass/custom.css.scss */
.coments-list .comment_row_wrap:first-child, .coments-list .comment_row:first-child {
  border: none;
}

/* line 2327, ../sass/custom.css.scss */
.coments-list .comment_row_wrap:first-child .comment_row:first-child {
  padding-top: 0;
}

/*TOP*/
/* line 2332, ../sass/custom.css.scss */
.head_item + div#main {
  padding-top: 0;
}

/* line 2335, ../sass/custom.css.scss */
.head_item + div#main:before {
  content: none;
  background-image: none;
}

/* for changing the page */
/* line 2340, ../sass/custom.css.scss */
.slide-animate-container {
  position: relative;
  background-image: url("../images/back.png");
  width: 100%;
  overflow: hidden;
}

/* line 2347, ../sass/custom.css.scss */
.slide-animate.ng-enter, .slide-animate.ng-leave {
  -webkit-transition-duration: 0.43s;
  -moz-transition-duration: 0.43s;
  -ms-transition-duration: 0.43s;
  transition-duration: 0.43s;
  position: absolute;
  display: block;
}

/* line 2356, ../sass/custom.css.scss */
.slide-animate.ng-enter {
  opacity: 0;
  -webkit-transform: translate3d(120%, 0px, 0px);
  -moz-transform: translate3d(120%, 0px, 0px);
  -ms-transform: translate3d(120%, 0px, 0px);
  transform: translate3d(120%, 0px, 0px);
}
/* line 2362, ../sass/custom.css.scss */
.slide-animate.ng-enter.ng-enter-active {
  opacity: 1;
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}

/* line 2371, ../sass/custom.css.scss */
.slide-animate.ng-leave {
  -webkit-transform: translate3d(0px, 0px, 0px);
  -moz-transform: translate3d(0px, 0px, 0px);
  -ms-transform: translate3d(0px, 0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/* line 2376, ../sass/custom.css.scss */
.slide-animate.ng-leave.ng-leave-active {
  -webkit-transform: translate3d(120%, 0px, 0px);
  -moz-transform: translate3d(120%, 0px, 0px);
  -ms-transform: translate3d(120%, 0px, 0px);
  transform: translate3d(120%, 0px, 0px);
}

/* for SlidsJS */
/* line 2385, ../sass/custom.css.scss */
.image-area img, .images-area img {
  max-width: 100%;
}

/* line 2388, ../sass/custom.css.scss */
.image-area {
  margin-bottom: 0;
}

/* line 2391, ../sass/custom.css.scss */
.images-area {
  margin-bottom: 10px;
}

/* line 2394, ../sass/custom.css.scss */
.attachments + .btns {
  margin-top: 10px;
}

/* line 2397, ../sass/custom.css.scss */
.images-area {
  display: none;
}

/* line 2401, ../sass/custom.css.scss */
.slidesjs-container {
  z-index: 1;
}

/* line 2405, ../sass/custom.css.scss */
.slidesjs-navigation {
  margin-top: 3px;
  text-decoration: none;
}

/* line 2410, ../sass/custom.css.scss */
.slidesjs-previous {
  margin-right: 5px;
  float: left;
}

/* line 2415, ../sass/custom.css.scss */
.slidesjs-next {
  margin-right: 5px;
  float: left;
}

/* line 2420, ../sass/custom.css.scss */
.slidesjs-pagination {
  margin: 6px 0 0;
  float: right;
  list-style: none;
  max-width: 87%;
}

/* line 2427, ../sass/custom.css.scss */
.slidesjs-pagination li {
  float: left;
  margin: 0 1px;
}

/* line 2432, ../sass/custom.css.scss */
.slidesjs-pagination li a {
  display: block;
  width: 13px;
  height: 0;
  padding-top: 13px;
  background: #504d45;
  margin-bottom: 7px;
  float: left;
  overflow: hidden;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -o-border-radius: 7px;
  -ms-border-radius: 7px;
}

/* line 2449, ../sass/custom.css.scss */
.slidesjs-pagination li a.active,
.slidesjs-pagination li a:hover.active {
  background: #fa8d6b;
}

/* line 2453, ../sass/custom.css.scss */
.pagination li a:hover {
  color: #428bca;
}

/* line 2458, ../sass/custom.css.scss */
.images-area a:link,
.images-area a:visited {
  color: #504d45;
}

/* line 2463, ../sass/custom.css.scss */
.images-area a:hover,
.images-area a:active {
  color: #9e2020;
}

/* line 2468, ../sass/custom.css.scss */
#log_details-table th {
  background: #f9f9f9;
}

/*----------------------------------------------------------
user page
views/users/idex.html.erb
views/users/show.html.erb
---------------------------------------------------------- */
/* line 2477, ../sass/custom.css.scss */
.label-success {
  float: right;
  margin-bottom: 10px;
}

/* line 2481, ../sass/custom.css.scss */
.activate-count {
  float: right;
  padding: 0 5px;
}

/* line 2485, ../sass/custom.css.scss */
.send-message-btn + div[id^="follow_form-"] {
  margin-top: 7px;
}

/* line 2488, ../sass/custom.css.scss */
.activate-count + a[class^="btns"] {
  margin-top: 7px;
  padding-top: 9px;
}

/* line 2492, ../sass/custom.css.scss */
.btn04.typcn-mail {
  font-size: 15px;
  text-decoration: none;
  padding: 0 10px;
}

@media (max-width: 767px) {
  /* line 2497, ../sass/custom.css.scss */
  .send-message-btn {
    margin: 10px 0;
    display: block;
    width: 100%;
    float: left;
    padding: 10px !important;
    text-align: center;
    min-height: 33px;
  }
}

/*----------------------------------------------------------
statistics page
statistics/summary
statistics/machines
---------------------------------------------------------- */
/* line 2515, ../sass/custom.css.scss */
#calendar a.fc-event.fc-event-hori.fc-event-start.fc-event-end:hover {
  background: #efefef !important;
}
/* line 2518, ../sass/custom.css.scss */
#calendar .income-minus, #calendar .income-plus {
  display: block;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  width: 100%;
  text-align: right;
  color: #fff;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  /* line 2518, ../sass/custom.css.scss */
  #calendar .income-minus, #calendar .income-plus {
    padding: 2px;
    font-size: 16px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 768px) {
  /* line 2518, ../sass/custom.css.scss */
  #calendar .income-minus, #calendar .income-plus {
    padding: 4px 12px;
    font-size: 24px;
    font-size: 1.5rem;
  }
}
/* line 2537, ../sass/custom.css.scss */
#calendar .income-minus {
  background-color: #fa8d6b !important;
  text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -moz-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -webkit-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -o-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -ms-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
}
/* line 2545, ../sass/custom.css.scss */
#calendar .income-plus {
  background-color: #5fbbe2;
  text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -moz-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -webkit-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -o-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
  -ms-text-shadow: 0px -1px 0px rgba(112, 116, 211, 0.5);
}
/* line 2554, ../sass/custom.css.scss */
#calendar .fc-event-title .income-plus + .pc {
  color: #5fbbe2;
  font-weight: bold;
}
/* line 2558, ../sass/custom.css.scss */
#calendar .fc-event-title .income-minus + .pc {
  color: #fa8d6b;
  font-weight: bold;
}
/* line 2563, ../sass/custom.css.scss */
#calendar table {
  background: #fff;
}
/* line 2565, ../sass/custom.css.scss */
#calendar table thead {
  background: #fce59f;
}

/* line 2570, ../sass/custom.css.scss */
table.data-sum {
  background: #fff;
}
/* line 2572, ../sass/custom.css.scss */
table.data-sum th {
  background: #fce59f;
}

/*----------------------------------------------------------
新規ユーザ登録 page

ログイン　page
sessions/new.html.erb
---------------------------------------------------------- */
/* line 2584, ../sass/custom.css.scss */
.form-signin input[type="text"], .form-signin input[type="password"] {
  margin: 0;
}

/* line 2587, ../sass/custom.css.scss */
.field_with_errors {
  width: 100%;
}

/* line 2590, ../sass/custom.css.scss */
.form-control + .btn01 {
  margin-top: 15px;
}

/* line 2593, ../sass/custom.css.scss */
.form-control + p {
  margin-top: 15px !important;
}

/*----------------------------------------------------------
contact page
ご意見募集ページ　仮スタイリング（忍者ツールズ使用時）
\static_pages\contact.html.erb
---------------------------------------------------------- */
/* line 2601, ../sass/custom.css.scss */
#slo-lab-form_top {
  width: 100% !important;
}
/* line 2603, ../sass/custom.css.scss */
#slo-lab-form_top * {
  width: 100% !important;
}
/* line 2606, ../sass/custom.css.scss */
#slo-lab-form_top .title {
  font-size: 20px !important;
  text-align: center !important;
}
/* line 2610, ../sass/custom.css.scss */
#slo-lab-form_top .explain {
  font-size: 16px !important;
  text-align: center !important;
}
/* line 2614, ../sass/custom.css.scss */
#slo-lab-form_top .main {
  border: none !important;
}
/* line 2617, ../sass/custom.css.scss */
#slo-lab-form_top .submit_button {
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fdd785), color-stop(1, #efb23d));
  background: -webkit-linear-gradient(#fdd785, #efb23d);
  background: -moz-linear-gradient(#fdd785, #efb23d);
  background: -o-linear-gradient(#fdd785, #efb23d);
  background: -ms-linear-gradient(#fdd785, #efb23d);
  background: linear-gradient(#fdd785, #efb23d);
  box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -webkit-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -moz-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -o-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
  -ms-box-shadow: 0px 1px 4px 0px rgba(64, 14, 1, 0.3);
}
/* line 2620, ../sass/custom.css.scss */
#slo-lab-form_top .submit_button:hover {
  border-top: 1px solid #ffebc0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #efb23d), color-stop(1, #fdd785));
  background: -webkit-linear-gradient(#efb23d, #fdd785);
  background: -moz-linear-gradient(#efb23d, #fdd785);
  background: -o-linear-gradient(#efb23d, #fdd785);
  background: -ms-linear-gradient(#efb23d, #fdd785);
  background: linear-gradient(#efb23d, #fdd785);
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
}

/*----------------------------------------------------------
機種 page

machine/index.html.erb
---------------------------------------------------------- */
/* line 2629, ../sass/custom.css.scss */
tr.unchecked:nth-child(odd) td {
  background-color: #ff99cc !important;
}

/* line 2632, ../sass/custom.css.scss */
tr.unchecked:nth-child(even) td {
  background-color: #ff99cc !important;
}
