<div id="login">
  <div class="zbtn01 setting">
    <div ng-show="message" ng-repeat="e in message.data">
      <p>{{ e }}</p>
    </div>
    <form novalidate>
      <p class="sort">ユーザ名 or メールアドレス: </p>
      <input type="text" ng-model="user.email" placeholder="ユーザ名 or メールアドレス" class="form-control" required></input>
      <p class="sort">パスワード: </p>
      <input ng-model="user.password" placeholder="パスワード" type="password" class="form-control" required>
      <p>
      <button ng-click="login(user.email, user.password)" class="btn btn-primary btn-block">ログインする</button>
      </p>
      <p class="suggest">アカウントはお持ちですか?<br><a href="" class="suggest-link">アカウント作成はこちらから</a></p>
    </form>
  </div>
</div>
