<form ng-init="fetchCurrentUser();" ng-submit="newLog()">
  <sl-errors></sl-errors>

  <div class="control-group">
    <label class="control-label">machine_id</label>
    <div class="controls">
      <input ng-model="machine.name_t" ng-auto-complete placeholder='直接入力(2文字入力で補完候補)' class='form-control'>
      <select ng-model="machine" ng-options="m.name for m in current_user.machines" class="form-control">
        <option value="">[直近の入力履歴から選択]</option>
      </select>
    </div>
  </div>
  <div class="form-group pro-mode">
    <div class="input-group">
      <span class="input-group-addon addon-white">
        <label class='control-label'>start</label>
      </span>
      <input type="tel" ng-model="log.start" class='form-control' autocomplete="off" >
    </div>
  </div>
  <div class="form-group easy-mode" ng-show="mode">
    <div class="input-group">
      <span class="input-group-addon addon-white input-group-income">
        <label>income</label>
      </span>
      <div class="input-group-btn" data-toggle="buttons">
        <label class="btn btn-income plus">
          <input type="radio" ng-model="action_income" value="plus">+
        </label>
        <label class="btn btn-income minus active">
          <input type="radio" ng-model="action_income" value="minus" checked>-
        </label>
      </div>
      <input type="tel" ng-model="income" value="{{ income ? income : 0 }}" class='form-control' autocomplete="off" >
      <span class="input-group-addon">円</span>
    </div>
  </div><!-- form-group -->
  <div class="control-group easy-mode" ng-show="mode">
    <label class="control-label">note</label>
    <div class="controls">
      <textarea ng-model="log.note" class='form-control' rows="2"></textarea>
    </div>
  </div>
  <div class="control-group easy-mode" ng-show="mode">
    <div class="controls" id="input-images">
      <!--sl-form-images></sl-form-images-->
    </div>
  </div>
  <!--div class="control-group beg-mode">
  <label class="control-label">later</label>
  <div class="controls">
    <check_box :later, class='form-control' %>
  </div>
  </div -->
  <div class="actions control-group">
    <input type="hidden" ng-model="mode">
    <input type="submit" value="{{ mode ? '登録' : '開始' }}する" id="log-submit" class='btns btn02'>
  </div>
</form>
