<div class="container">
  <div class="option logs">
    <div class="logging-settings-area">
      <div><label for="log_detail_memo">入力モード切り替え</label></div>
      <div class="logging_settings log-easy btns btn04 {{ mode ? 'active' : '' }}" ng-click="mode='easy';">ビギナー</div>
      <div class="logging_settings log-pro btns btn04 {{ mode ? '' : 'active' }}" ng-click="mode=null;" >プロ</div>
    </div>
  </div>
  <!-- <div class="title-separater02 logs">新しいログ作成</div> -->
  <div class="title-separater02 logs form-group easy-mode" ng-show="mode">ビギナーモードで入力</div>
  <div class="title-separater02 logs form-group pro-mode" ng-show="!mode">プローモードで入力</div>
  <div class="zbtn01 logs">
    <p class="exp easy-mode" ng-show="mode">※1回で投稿が完結するモードです。</p>
    <p class="exp pro-mode" ng-show="!mode">※「打止め」までログをどんどん追記していくモードです。</p>
    <sl-form-log></sl-form-log>
  </div>
</div>
