<div ng-init="fetchOneLog($route.current.params)">
  <div class="container">
    <div class="title-separater02 logs">詳細なログ
      <a ng-click="$location.path(urlService.pathLogDetails(log.id) + 'new')" class="btns btn04 sub-btn01 fa fa-edit fa-2x" ng-show="sessionService.isCurrentUser(log.user.remember_token)"></a>
    </div>
    <div class="zbtn01 logs">
      <div class="each_logs">
        <a ng-click="$location.path(urlService.pathUsers(log.user.id))" class="user_img"><img src="{{ log.user.url_avatar }}" class="user_img"></a>
        <div class="infos">
          <a ng-click="$location.path(urlService.pathUsers(log.user.id))">{{ log.user.name }}</a>
          <div class="title">
            {{ log.machine ? log.machine.name : 'その他' }} 
            <a ng-click="$locatin.path(urlService.pathLogs(log.id))" class="badge" ng-show="log.attachments.length != 0">{{ log.attachments.length }}</a>
          </div>
        </div><!-- /.infos -->
      </div><!-- /.each_logs -->

      <table ng-show="log.log_details.length != 0">
        <tr>
          <th>start</th>
          <td>{{ log.start }}</td>
        </tr>

        <tr>
          <th>end</th>
          <td>{{ log.end }}</td>
        </tr>

        <tr>
          <th>t('table_header.first_hit')</th>
          <td>{{ log.first_hit }}</td>
        </tr>

        <tr>
          <th>t('table_header.investment')</th>
          <td>{{ log.investment }}</td>
        </tr>

        <tr>
          <th>t('table_header.back')</th>
          <td>{{ log.back }}</td>
        </tr>
        <tr>
          <th>t('table_header.note')</th>
          <td>{{ log.note }}</td>
        </tr>
        <!--tr>
        <th><%= t('table_header.later') %></th>
        <td><%= @log.later %></td>
        </tr-->
      </table>

      <table class="table table-bordered table-striped">
        <tr>
          <th>ゲーム数合計</th><th>収支合計</th>
        </tr>
        <tr>
          <td><%= @total_game %></td><td><%= @total_income %></td>
        </tr>
      </table>


      <table class="table table-bordered" id="log_details-table" ng-show="log.log_details.length != 0">
        <tr>
          <!-- ゲーム数 -->
          <th>ゲーム数</th>
          <!-- 役 -->
          <th>役</th>
          <!-- 上乗 -->
          <th ng-show="log.machine.type_id != 1">上乗</th>
          <!-- 収支 -->
          <th>収支</th>

          <th colspan="2" ng-show="sessionService.isCurrentUser(log.user.remember_token)"></th>
        </tr>
        <tbody sl-log-detail></tbody>
      </table>

      <table class="table table-bordered table-striped">
        <tr>
          <th>ゲーム数合計</th><td id="total_game" class="number"><%= @log.game %></td>
          <th>収支合計</th><td id="total_income" class="number"><%= @log.income %></td>
        </tr>
      </table>

      <div ng-show="log.attachments.length != 0">
        <div class="panel-heading">登録済画像</div>
        <div class="panel-body">
          <div class="viewport">
            <div id="flipsnap-{{ log.id }}" class="flipsnap">
              <div class="item" ng-repeat="a in log.attachments">
                <%== modal_tag_with_image(a.image.url(:original), a.image.url(:medium)) %>
              </div>
            </div>
          </div>
          <div class="pointer">
            <span class="{{ ($index == 0) ? 'current' : '' }}" ng-repeat="a in log.attachments"></span>
          </div>
        </div>
      </div>

    </div><!-- /.zbtn01 logs -->
    <!-- コメント一覧 -->
    <div class="title-separater02 logs" style="margin-top: 30px;">コメント一覧</div>
    <div class="zbtn01 logs">
      <div id="comments-for-{{ log.id }}" class="coments-list">
        <div ng-repeat="c in log.comments">
          <sl-comment></sl-comment>
        </div>
      </div>
      <div class="comment_row_wrap">
        <div class="comment_row">
          <form ng-submit="newCommentForLog(log.id, new_comment[log.id])">
            <textarea ng-model="new_comment[log.id]" class="form-control" rows="2" placeholder='コメントを入力してください'></textarea>
            <input type="submit" value="コメントする" class="btns btn03 comment_btn">
          </form>
        </div>
      </div>
    </div>

  </div>
</div>
