<form ng-submit="newLogDetail()">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-white input-must">
        <label>game</label><span class="must">※必須</span>
      </span>
      <input type="tel" name="log_detail[game]" ng-model="log_detail.game" class="form-control">
    </div>
  </div><!-- form-group -->
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-white input-must">
        <label>role_id</label><span class="must">※必須</span>
      </span>
      <input type="text" class="form-control" value="{{ role.name }}" disabled>
    </div>
    <div class="additional-interface">
      <span class="btn input-role input-role-type-{{ r.type_id}} {{ log_detail.role_id == r.id ? 'active' :'' }}" ng-repeat="r in log.machine.roles" ng-click="log_detail.role_id = r.id; role.name = r.name;">
        {{ r.name_omission }}
      </span>
      <input type="hidden" ng-model="log_detail.role_id" class="form-control">
    </div>
  </div><!-- form-group -->
  <div class="form-group" id="form-addition">
    <div class="input-group">
      <span class="input-group-addon addon-white">
        <label> :addition, t('log_detail.addition')}}</label>
      </span>
      <input type="tel" ng-model="log_detial.addition" class="form-control">
    </div>
  </div><!-- form-group -->
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon addon-white">
        <label>income</label>
      </span>
      <div class="input-group-btn" data-toggle="buttons">
        <label class="btn btn-income plus{{ (log_detail.income > 0) ? ' active' : ''}}">
          <input type="radio" ng-model="action_income" value="plus" ng-checked="log_detail.income > 0">+
        </label>
        <label class="btn btn-income minus{{ (log_detail.income > 0) ? '' : ' active'}}">
          <!-- 表示を絶対値で表示するため(＋かーかはボタンで判断できるため) -->
          <input type="radio" ng-model="action_income" value="minus" ng-checked="log_detail.income <= 0">-
        </label>
      </div>
      <input type="tel" ng-model="income" ng-init="income=Math.abs(log_detail.income)" class="form-control" autocomplete="off">
      <span class="input-group-addon">円</span>
    </div>
  </div><!-- form-group -->

  <div class="form-group">
    <label>reset_game</label><input type="button" value="ゲーム数リセット" class='btns btn03 {{log_detail.reset_game ? "active" : ""}} ' ng-click="log_detail.reset_game = !log_detail.reset_game">
    <input type="checkbox" ng-model="log_detail.reset_game" class="form-control" style='display: none;' ng-checked="log_detail.reset_game">
  </div>
  <div class="form-group">
    <label>memo</label>
    <textarea ng-model="log_detail.memo" class="form-control" rows="2"></textarea>
  </div>
  <div class="form-group" id="input-images">
    <sl-form-images></sl-form-images>
  </div>
  <div class="form-group">
    <input type="hidden" ng-model="log_detail.log_id">
  </div>
  <div class="actions">
    <input type="submit" class="btns btn02 btn-block" value="登録">
    <input type="submit" value="Reset" ng-model='log_detail.reset' type="reset" class='btn btn-default btn-block hidden'>
  </div>

  <span class="icon-question-sign" data-title="ゲーム数&ゲーム数リセットについて" data-html="true" data-content="<b>ゲーム数:</b> 役が成立したゲーム数を入力してください。<br /><br /><b>カウント:</b> このボタンが押された状態で登録されると、ゲーム数がリセットされ、合計ゲーム数に値が加算されます。 <br />
    <b>利用例)</b> ボーナスが揃った時等、データカウンタの値がリセットされるタイミングで利用<br />"> ゲーム数とは</span>
  <span class="icon-question-sign" data-title="役について" data-html="true" data-content="高確率やボーナス等の出玉チャンスの際にを入力してください。"> 役とは</span>
  <span class="icon-question-sign" data-title="収支について" data-html="true" data-content="投資した額、終了した時の収支を記録してください。打止めの時さえ入力すれば十分ですが、こまめに入力すると見直すときに便利です。"> 収支とは</span>
  <span class="icon-question-sign" data-title="メモについて" data-html="true" data-content="役・上乗せが発生した状況を詳しく記載すると見直すときに状況がわかりやすくなります。"> メモとは</span>




  <script>
    $('.icon-question-sign').popover({placement: 'auto'});
    //	$('.icon-question-sign').on('show.bs.popover', function(){
    //		$('.icon-remove-sign').click(function(){
    //			console.log($(this).parent().html());
    //			console.log('here');
    //			$(this).parent().parent().find('.icon-question-sign').popover('hide');
    //		})
    //	});
  </script>
</form>
