<h1>ログ詳細編集</h1>

<div id="input-log_detail" class="panel panel-warning">
  <div class="panel-body">

    <form ng-submit="">
      <% if @log_detail.errors.any? %>
        <%= render 'error_log_detail', log_detail: @log_detail %>
      <% end %>
      <%= render 'logs/form_log_detail', log_detail: @log_detail, shared_roles: @shared_roles, f: f %>
      <sl-form-log-detail></sl-form-ls-detail>
    </form>
    </div><!-- panel-body -->
  </div>
<% end %>
